<!-- progress circles -->
<div class="row mb-4">
    <div class="col text-center">
        <circle-progress [percent]="65" [radius]="35" [outerStrokeWidth]="8" [innerStrokeWidth]="'0'" [space]="-8"
            [innerStrokeWidth]="8" [innerStrokeColor]="'rgba(0, 0, 0, 0.1)'" [toFixed]="0" [outerStrokeColor]="'#7297f8'"
            [animation]="true" [animationDuration]="300" class="mb-1"></circle-progress>
        <h6 class="mb-0">65824</h6>
        <p class="text-muted small">New</p>
    </div>
    <div class="col text-center">
        <circle-progress [percent]="48" [radius]="35" [outerStrokeWidth]="8" [innerStrokeWidth]="'0'" [space]="-8"
            [innerStrokeWidth]="8" [innerStrokeColor]="'rgba(0, 0, 0, 0.1)'" [toFixed]="0" [outerStrokeColor]="'#42df8c'"
            [animation]="true" [animationDuration]="300" class="mb-1"></circle-progress>
        <h6 class="mb-0">34251</h6>
        <p class="text-muted small">Requested</p>
    </div>
    <div class="col text-center">
        <circle-progress [percent]="52" [radius]="35" [outerStrokeWidth]="8" [innerStrokeWidth]="'0'" [space]="-8"
            [innerStrokeWidth]="8" [innerStrokeColor]="'rgba(0, 0, 0, 0.1)'" [toFixed]="0" [outerStrokeColor]="'#fb737c'"
            [animation]="true" [animationDuration]="300" class="mb-1"></circle-progress>
        <h6 class="mb-0">3548</h6>
        <p class="text-muted small">Total</p>
    </div>
</div>

<!-- summary swiper carousel -->
<div class="row">
    <div class="col-12 px-0">
        <swiper class="swipersummary" [slidesPerView]="2.3" [spaceBetween]="15" [pagination]="false">
                <ng-template swiperSlide>
                    <div class="card shadow-sm mb-4 bg-primary-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto  align-self-center">
                                    <div class="text-primary h2 mb-0">
                                        <i class="bi bi-clock"></i>
                                    </div>
                                </div>
                                <div class="col px-0">
                                    <h6 class="mb-0">+155</h6>
                                    <p class="text-muted small">Hours</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card shadow-sm mb-4 bg-warning-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <div class="text-warning h2 mb-0">
                                        <i class="bi bi-cpu"></i>
                                    </div>
                                </div>
                                <div class="col px-0">
                                    <h6 class="mb-0">+365</h6>
                                    <p class="text-muted small">Processing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card shadow-sm mb-4 bg-success-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <div class="text-success h2 mb-0">
                                        <i class="bi bi-folder"></i>
                                    </div>
                                </div>
                                <div class="col px-0">
                                    <h6 class="mb-0">+658</h6>
                                    <p class="text-muted small">Pojects</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card shadow-sm mb-4 bg-danger-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <div class="text-danger h2 mb-0">
                                        <i class="bi bi-bar-chart"></i>
                                    </div>
                                </div>
                                <div class="col px-0">
                                    <h6 class="mb-0">+248</h6>
                                    <p class="text-muted small">Complete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card shadow-sm mb-4 bg-primary-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <div class="text-primary h2 mb-0">
                                        <i class="bi bi-clock"></i>
                                    </div>
                                </div>
                                <div class="col px-0">
                                    <h6 class="mb-0">+155</h6>
                                    <p class="text-muted small">Hours</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card shadow-sm mb-4 bg-warning-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <div class="text-warning h2 mb-0">
                                        <i class="bi bi-cpu"></i>
                                    </div>
                                </div>
                                <div class="col px-0">
                                    <h6 class="mb-0">+365</h6>
                                    <p class="text-muted small">Processing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card shadow-sm mb-4 bg-success-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <div class="text-success h2 mb-0">
                                        <i class="bi bi-folder"></i>
                                    </div>
                                </div>
                                <div class="col px-0">
                                    <h6 class="mb-0">+658</h6>
                                    <p class="text-muted small">Pojects</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card shadow-sm mb-4 bg-danger-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <div class="text-danger h2 mb-0">
                                        <i class="bi bi-bar-chart"></i>
                                    </div>
                                </div>
                                <div class="col px-0">
                                    <h6 class="mb-0">+248</h6>
                                    <p class="text-muted small">Complete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
    </div>
</div>

<!-- project highlights -->
<div class="row">
    <div class="col-12 col-md-8 col-lg-8">
        <div class="card shadow-sm mb-4">
            <div class=" position-absolute top-0 end-0 m-3 d-flex flex-row">
                <button class="btn btn-info avatar avatar-40 p-0 rounded-circle text-white shadow-sm mx-2"><i class="bi bi-share h5 mb-0"></i></button>
                <button class="btn btn-danger avatar avatar-40 p-0 rounded-circle shadow-sm"><i class="bi bi-heart h5 mb-0"></i></button>
            </div>
            <figure class="card-img-top overflow-hidden mb-0 coverimg h-190" style="background-image:url('assets/img/project1.jpg')"><img src="assets/img/project1.jpg" alt="project images"></figure>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="text-uppercase text-muted mb-1">Properties</p>
                        <h4 class="mb-1">JackInfra $ 2.61 L</h4>
                        <div class="row">
                            <div class="col align-self-center">
                                <p class="small">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                </p>
                            </div>
                            <div class="col-auto pl-0">
                                <p>
                                    <span class="small text-muted">26 Booked | 6 Available</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-link caret-none dropdown-toggle px-0" type="button" id="moredd1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical fs-2"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="moredd1">
                            <li><a class="dropdown-item">Details</a></li>
                            <li><a class="dropdown-item">Edit</a></li>
                            <li><a class="dropdown-item text-danger">Delete</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="row">
            <div class="col-6 col-md-12">
                <div class="card shadow-sm mb-4">
                    <button class="btn btn-danger avatar avatar-36 p-0 rounded-circle position-absolute top-0 end-0 m-2  shadow-sm">
                        <i class="bi bi-heart h5 mb-0"></i></button>
                    <figure class="card-img-top overflow-hidden mb-0 coverimg h-100px"style="background-image:url('assets/img/project2.jpg')"><img src="assets/img/project2.jpg"
                            alt="project images"></figure>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="mb-1">Moji $ 1.81 L</h6>
                                <p class=" text-muted mb-1 small">6 Available</p>
                                <p class="small">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-12">
                <div class="card shadow-sm mb-4">
                    <button class="btn btn-danger avatar avatar-36 p-0 rounded-circle position-absolute top-0 end-0 m-2 shadow-sm">
                        <i class="bi bi-heart h5 mb-0"></i></button>
                    <figure class="card-img-top overflow-hidden mb-0 coverimg h-100px"style="background-image:url('assets/img/project3.jpg')"><img src="assets/img/project3.jpg"
                            alt="project images"></figure>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="mb-1">Lional $ 1.4 L</h6>
                                <p class=" text-muted mb-1 small">6 Available</p>
                                <p class="small">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                    <i class="bi bi-star text-warning"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 d-grid">
        <a routerLink="/shop" class="btn btn-primary btn-block shadow">
            <i class="bi bi-basket-fill mx-2"></i>
            Go to Shop
        </a>
    </div>
</div>

<!-- Trending Projects carousel -->
<div class="row mb-2">
    <div class="col">
        <h6 class="my-1">Trending Projects </h6>
    </div>
    <div class="col-auto px-0">
        <a class="btn btn-link btn-sm" routerLink="/projects">View all</a>
    </div>
    <div class="col-auto">
        <button class="btn btn-link btn-sm dropdown-toggle caret-none" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-filter"></i>
        </button>
        <ul class="dropdown-menu shadow border-0" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">Action</a></li>
            <li><a class="dropdown-item">Action</a></li>
            <li><a class="dropdown-item text-danger">Delete</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="container mb-4 px-0">
        <swiper class="swiperprojects" [slidesPerView]="1.2" [spaceBetween]="15" [pagination]="false">
                <ng-template swiperSlide>
                    <div class="card shadow-sm">
                        <button class="btn btn-danger avatar avatar-40 p-0 rounded-circle position-absolute top-0 end-0 m-3">
                            <i class="bi bi-heart h4 mb-0"></i>
                        </button>
                        <figure class="card-img-top overflow-hidden mb-0 coverimg" style="background-image:url('assets/img/project1.jpg')"><img src="assets/img/project1.jpg"
                                alt="project images"></figure>
                        <div class="card-body">
                            <p class="text-uppercase text-muted mb-1">Properties</p>
                            <h5 class="mb-1">Alvicans $ 2.61 L</h5>
                            <div class="row">
                                <div class="col align-self-center">
                                    <p class="small">
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star text-warning"></i>
                                        <i class="bi bi-star text-warning"></i>
                                    </p>
                                </div>
                                <div class="col-auto pl-0">
                                    <p>
                                        <span class="small text-muted">26 Booked | 6 Available</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card shadow-sm">
                        <button class="btn btn-danger avatar avatar-40 p-0 rounded-circle position-absolute top-0 end-0 m-3">
                            <i class="bi bi-heart h4 mb-0"></i>
                        </button>
                        <figure class="card-img-top overflow-hidden mb-0 coverimg" style="background-image:url('assets/img/project2.jpg')"><img src="assets/img/project2.jpg"
                                alt="project images"></figure>
                        <div class="card-body">
                            <p class="text-uppercase text-muted mb-1">Properties</p>
                            <h5 class="mb-1">Vitthalani $ 2.61 L</h5>
                            <div class="row">
                                <div class="col align-self-center">
                                    <p class="small">
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star text-warning"></i>
                                        <i class="bi bi-star text-warning"></i>
                                    </p>
                                </div>
                                <div class="col-auto pl-0">
                                    <p>
                                        <span class="small text-muted">26 Booked | 6 Available</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card shadow-sm">
                        <button class="btn btn-danger avatar avatar-40 p-0 rounded-circle position-absolute top-0 end-0 m-3">
                            <i class="bi bi-heart h4 mb-0"></i>
                        </button>
                        <figure class="card-img-top overflow-hidden mb-0 coverimg" style="background-image:url('assets/img/project3.jpg')"><img src="assets/img/project3.jpg"
                                alt="project images"></figure>
                        <div class="card-body">
                            <p class="text-uppercase text-muted mb-1">Properties</p>
                            <h5 class="mb-1">JackInfra $ 2.61 L</h5>
                            <div class="row">
                                <div class="col align-self-center">
                                    <p class="small">
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star text-warning"></i>
                                        <i class="bi bi-star text-warning"></i>
                                    </p>
                                </div>
                                <div class="col-auto pl-0">
                                    <p>
                                        <span class="small text-muted">26 Booked | 6 Available</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card shadow-sm">
                        <button class="btn btn-danger avatar avatar-40 p-0 rounded-circle position-absolute top-0 end-0 m-3">
                            <i class="bi bi-heart h4 mb-0"></i>
                        </button>
                        <figure class="card-img-top overflow-hidden mb-0 coverimg" style="background-image:url('assets/img/project1.jpg')"><img src="assets/img/project1.jpg"
                                alt="project images"></figure>
                        <div class="card-body">
                            <p class="text-uppercase text-muted mb-1">Properties</p>
                            <h5 class="mb-1">Alvicans $ 2.61 L</h5>
                            <div class="row">
                                <div class="col align-self-center">
                                    <p class="small">
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star-fill text-warning"></i>
                                        <i class="bi bi-star text-warning"></i>
                                        <i class="bi bi-star text-warning"></i>
                                    </p>
                                </div>
                                <div class="col-auto pl-0">
                                    <p>
                                        <span class="small text-muted">26 Booked | 6 Available</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
    </div>
</div>

<!-- list message user -->
<div class="row">
    <div class="col-12">
        <div class="row mb-2">
            <div class="col">
                <h6 class="my-1">Recently Puchased</h6>
            </div>
            <div class="col-auto px-0">
                <a class="btn btn-link btn-sm" routerLink="/userlist">View all</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row py-3">
            <div class="col-auto position-relative">
                <figure class="avatar avatar-50 rounded-circle">
                    <img src="assets/img/user1.jpg" alt="">
                </figure>
            </div>
            <div class="col px-0">
                <p>Ajinkya McMohan<br><small class="text-muted">Alvicans at 2.65 USD</small></p>
            </div>
            <div class="col-auto text-end align-self-center">
                <a routerLink="/chat" target="_self" class="btn btn-link"><i class="bi bi-chat-text fs-4"></i></a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-auto">
                <div class="avatar-group">
                    <figure class="avatar avatar-50 rounded-circle">
                        <img src="assets/img/user2.jpg" alt="">
                    </figure>
                    <figure class="avatar avatar-50 rounded-circle">
                        <img src="assets/img/user3.jpg" alt="">
                    </figure>
                </div>
            </div>
            <div class="col px-0">
                <p>Ajinkya McMohan<br><small class="text-muted">Mojisa at 1.84 USD</small></p>
            </div>
            <div class="col-auto text-end">
                <a routerLink="/chat" target="_self" class="btn btn-link"><i class="bi bi-chat-text fs-4"></i></a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-auto">
                <figure class="avatar avatar-50 rounded-circle">
                    <img src="assets/img/user3.jpg" alt="">
                </figure>
            </div>
            <div class="col px-0">
                <p>Ajinkya McMohan<br><small class="text-muted">Combined | Alvicans at 2.65 USD</small></p>
            </div>
            <div class="col-auto text-end">
                <a routerLink="/chat" target="_self" class="btn btn-link"><i class="bi bi-chat-text fs-4"></i></a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-auto">
                <figure class="avatar avatar-50 rounded-circle">
                    <img src="assets/img/user1.jpg" alt="">
                </figure>
            </div>
            <div class="col px-0">
                <p>Ajinkya McMohan<br><small class="text-muted">Alvicans at 2.65 USD</small></p>
            </div>
            <div class="col-auto text-end">
                <a routerLink="/chat" target="_self" class="btn btn-link"><i class="bi bi-chat-text fs-4"></i></a>
            </div>
        </div>
    </div>
</div>