.text-muted{
    opacity: 0.6;
    color: inherit !important;
}

.text-success, .alert-success{
    color: darken($color-success, 8%) !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 600;
}

h1, .h1{ 
    font-size: 40px;
}

h2, .h2{ 
    font-size: 32px;
}

h3, .h3{ 
    font-size: 24px;
}
.underline-0{
    text-decoration: none
}

p{
    &:last-child{
        margin-bottom:0 
    }
}
small, .small {
    font-size: 13px;
}
a.card-body{
    color: #000000;
    text-decoration: none;
}
.text-normal{
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width:400px){
    h1, .h1{ 
        font-size: 36px;
    }

    h3, .h3{ 
        font-size: 20px;
    }

}

.text-primary{
    color: $color-blue !important;
}

.text-default{
    color: $color-primary !important;
}