$color-primary:#11c583;
$text-primary:#ffffff;

$color-secondary:#f1f9f6;
$text-secondary:#000000;

$color-btn-primary:#1de89e;
$text-btn-primary:#ffffff;

$color-btn-secondary:#074a42;
$text-btn-secondary:#ffffff;


$color-success: #6ce8c0;
$color-danger: #ff7380;
$color-warning: #ffd765;
$color-purple: #7521F3; 
$color-blue: #72d3f8; 