$color-primary:#7297f8;
$text-primary:#ffffff;

$color-secondary:#eef0f8;
$text-secondary:#000000;

$color-btn-primary:#7297f8;
$text-btn-primary:#ffffff;

$color-btn-secondary:#222222;
$text-btn-secondary:#ffffff;


$color-success: #65e5a1;
$color-danger: #fb737c;
$color-warning: #ffc374;
$color-purple: #7521F3; 
$color-blue: #7297f8; 