<!-- Different Events  -->
<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>


<!-- Top Navigation Menu -->
<body >
    
<div id="form">
<form  action="" method="post">
    <h2>Venue Booking Settings</h2>
            <div class="form-group mb15" >
                <label for="exampleInputPassword1"><i class="bi bi-card-checklist" style="color: #dec074;"></i> Max booking per slot</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="name" id="name12" value="" placeholder="" style="border-color:#dec074;" [(ngModel)]="bookingsettings.slot" autocomplete="off">  
            </div>

      <div id="submit">
      <button type="submit" id="submit123" class="btn btn-primary" width="40px" (click)='sendData()' >Save</button>
      </div>
</form>
</div>

</body>
</html>
