<div class="row mb-2">
    <div class="col">
        <h4 class="my-1">Address Change</h4>
    </div>
</div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating" style="box-shadow:0 4px 8px 0 rgba(222,199, 4, 0.3), 0 6px 20px 0 rgba(222,199, 4, 0.29)">
                <input type="text" class="form-control" value="Maxartkiller" id="address1" placeholder="Your Name">
                <label class="form-control-label" for="address1">Your Name</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating" style="box-shadow:0 4px 8px 0 rgba(222,199, 4, 0.3), 0 6px 20px 0 rgba(222,199, 4, 0.29)">
                <input type="text" class="form-control" value="265B, Arohhi Appartment" id="address2"
                    placeholder="Address Line 1">
                <label class="form-control-label" for="address2">Address Line 1</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating" style="box-shadow:0 4px 8px 0 rgba(222,199, 4, 0.3), 0 6px 20px 0 rgba(222,199, 4, 0.29)">
                <input type="text" class="form-control" value="Bhuvandi Baug" id="address3" placeholder="Address Line 2">
                <label class="form-control-label" for="address3">Address Line 2</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating" style="box-shadow:0 4px 8px 0 rgba(222,199, 4, 0.3), 0 6px 20px 0 rgba(222,199, 4, 0.29)">
                <input type="text" list="datalistOptions" class="form-control" value="" id="address4"
                    placeholder="Select Country">
                <datalist id="datalistOptions">
                    <option value="Selangor">
                    <option value="Penang" selected>
                    <option value="Perak">
                    <option value="Kedah">
                    <option value="Johor">
                </datalist>
                <label class="form-control-label" for="address4">Country</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating" style="box-shadow:0 4px 8px 0 rgba(222,199, 4, 0.3), 0 6px 20px 0 rgba(222,199, 4, 0.29)">
                <input type="text" list="datalistStates" class="form-control" value="" id="address5"
                    placeholder="Select State">
                <datalist id="datalistStates">
                    <option value="Selangor">
                    <option value="Penang" selected>
                    <option value="Perak">
                    <option value="Kedah">
                    <option value="Johor">
                </datalist>
                <label class="form-control-label" for="address5">State</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating" style="box-shadow:0 4px 8px 0 rgba(222,199, 4, 0.3), 0 6px 20px 0 rgba(222,199, 4, 0.29)">
                <input type="text" class="form-control" value="Petaling Jaya" id="address6" placeholder="City">
                <label class="form-control-label" for="address6">City</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="form-group form-floating" style="box-shadow:0 4px 8px 0 rgba(222,199, 4, 0.3), 0 6px 20px 0 rgba(222,199, 4, 0.29)">
                <input type="text" class="form-control" value="68541-44" id="address7" placeholder="Pincode">
                <label class="form-control-label" for="address7">Postcode</label>
            </div>
        </div>
    </div>
    <div class="row h-100 mb-4">
        <div class="col-12 d-grid"><a routerLink="settings.html" target="_self" class="btn btn-default mt-3" style="background-color: #dec704; color: black;">Update</a></div>
    </div>

