<div class="row mb-2">
    <div class="col">
        <h4 class="my-1">Language</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow-sm">
            <ul class="list-group list-group-flush bg-none" style="box-shadow:0 4px 8px 0 rgba(222,199, 4, 0.3), 0 6px 20px 0 rgba(222,199, 4, 0.29)">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto pr-0 align-self-center text-end">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="settingscheck1" checked>
                                <label class="form-check-label" for="settingscheck1"></label>
                            </div>
                        </div>
                        <div class="col">
                            <h4 class="mb-1">English</h4>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto pr-0 align-self-center text-end">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="settingscheck2" checked>
                                <label class="form-check-label" for="settingscheck2"></label>
                            </div>
                        </div>
                        <div class="col">
                            <h4 class="mb-1">Bahasa Malaysia</h4>
                        </div>
                    </div>
                </li>
 
            </ul>
        </div>
    </div>
</div>
 
 
