.container-fluid {
    background-color: black;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }
  img{
    object-fit:cover;
  }
  .coverimg{
    background-size:32 ;
  }

  .row{
    --bs-gutter-x: 0rem;
  }

