<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>


<!-- Top Navigation Menu -->
<body >
<div class="topnav" >
  

  <div class="topnav-centered row">
    <a href="#home" class="active">New voucher Details</a>
  </div>

  <a href="#home" ><i class="fa fa-angle-left "style="font-size:36px;color:gold" ></i></a> 

  
</div>
<div id="form">
<form>
  <div class="form-group">
    <label> voucher Type</label>  
    <select class="form-col"> 
      
      <option selected disabled>Product voucher</option>
    
    <option value = "Discount"> Discount
    </option>  
    <option value = "Cashback"> Cashback
    </option>  
    
    </select>  
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">voucher Name</label>
   
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="voucher name not visible to buyers">
      
    </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">voucher Code</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Max 20 character">
    
  </div>
  <div class="form-group">
    <label for="meeting-time">Start Date</label>
    <input type="datetime-local" class="form-control" id="meeting-time" name="meeting-time" value="2021-12-12T19:30" min="2018-06-07T00:00" max="2022-06-14T00:00">
  </div>

  <div class="form-group">
    <label for="meeting-time">End Date</label>
    <input type="datetime-local" class="form-control" id="meeting-time" name="meeting-time" value="2021-12-12T19:30" min="2018-06-07T00:00" max="2022-06-14T00:00">
   
  </div>
 
 
  <div class="form-group">
    <label for="exampleInputPassword1">Discount Type</label>
    <select class="form-col">  
      <option selected disabled>select discount type</option>
    
    <option value = "Discount"> Percentage
    </option>  
    <option value = "Cashback"> fixed amount
    </option>  
    
    </select>  
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Min Spend Required</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Please set min. Spend amount">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Usage Quantity</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Total Usable voucher for all buyer">
  </div>
  <div class="form-group" >
    <label for="exampleInputPassword1" >Upload Photo</label>
    <input type="file" class="form-control"
       id="avatar" name="avatar"
       accept="image/png, image/jpeg" style="margin-bottom:3px">
  </div>
  <div id="submit">
  <button type="submit" id="submit123" class="btn btn-primary" width="40px">Save</button>
</div>
</form>
</div>


<!-- Tabs navs -->


</body>

</html>