<div class="row" >
  <div class="col-auto pr-0">
      <button type="button" style="background-color: transparent;outline: none;border: none;color: #dec074;"  class="btn btn-link back-btn" (click)="backnav()">
          <i class="bi bi-arrow-left"></i>
      </button>
  </div>
  <div class="col text-center align-self-center px-0">
      <h2 style="color: #dec074; padding-top: 10px;">Create Voucher</h2>
  </div>
  <div class="col-auto align-self-center">
      <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
          <i class="bi bi-house"></i>
      </a>
      <a routerLink="/profile" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
          <i class="bi bi-person"></i>
      </a>
  </div>
</div>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Top Navigation Menu -->
  <div class="container-fluid" style="height:100%;background-color: black;">
    <div class="row">
      <div class="col-sm-12">
        <div class="md-float-material form-material">
          <div class="auth-box card" style="height:100%;background-color: black;">
            <div class="card-block" style="height:100%;background-color: black;">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <h3 class="text-center heading">Create voucher only in 1 minute to help your business</h3>
                </div>
              </div>


              <form action="" method="post">
                <div class="form-group">
                  <label for="uploadphoto">Upload Photo</label>
                  <input type="file" class="form-control" id="image1" name="file" (change)="onselectFile($event)"
                    accept="image/png, image/jpeg" style="margin-bottom:3px;">
                  <p class="validation">{{ valid['thumbnail'] }}</p>
                </div>

                <div class="container">
                  <div class="panel panel-default">

                    <div class="panel-body form-group">

                      <p style="font-size:14px;margin-bottom:0">Image Preview </p>
                      <img [src]="url" style="width: 100%; object-fit: cover;">

                      <!-- Progress Bar -->


                      <!-- Upload Finished -->

                    </div>
                  </div>
                </div> <!-- /container -->

                <div class="form-group form-primary">
                  <label>Voucher Name</label>
                  <input type="text" class="form-control" [(ngModel)]="voucher.title" name="name" value=""
                    placeholder="" id="name" autocomplete="off" maxlength="18">
                  <p class="validation">{{ valid['title'] }}</p>
                </div>

                <div class="form-group">
                  <label>Voucher Type</label>
                  <select class="form-col" id="#foodcategories" value="" placeholder="sfdsf" name="foodcategories"
                    [(ngModel)]="voucher.type">
                    <option selected disabled>Voucher Type</option>
                    <option value="Percentage"> Discount (%)</option>
                    <option value="FixAmount"> Fix Amount (RM)</option>
                  </select>
                  <p class="validation">{{ valid['type'] }}</p>
                </div>

                <div class="form-group">
                  <label for="taskdate">Start Date</label><br>
                  <input type="date" class="form-control" id="taskdate" name="name" value="" [(ngModel)]="voucher.sdate"
                    autocomplete="off" style="color:white!important;background-color: black;box-shadow: none;">
                  <p class="validation">{{ valid['sdate'] }}</p>
                </div>

                <div class="form-group">
                  <label for="taskdate">End Date</label><br>
                  <input type="date" class="form-control" id="taskdate" name="name" value="" [(ngModel)]="voucher.edate"
                    style="color:white!important;background-color: black;box-shadow: none;">
                  <p class="validation">{{ valid['edate'] }}</p>
                </div>

                <div class="form-group form-primary ">
                  <label>Voucher Quantity</label>
                  <input type="number" class="form-control" [(ngModel)]="voucher.quantity" name="forth_name" value=""
                    placeholder="" id="code" autocomplete="off">
                  <p class="validation">{{ valid['quantity'] }}</p>
                </div>
                <div class="form-group form-primary ">
                  <label>Min Spend (RM)</label>
                  <input type="text" class="form-control" name="minspend" value="" placeholder=""
                    [(ngModel)]="voucher.minspend" autocomplete="off" maxlength="5" [pattern]="spendPattern"
                    #minspend="ngModel">
                  <div *ngIf="minspend.errors?.pattern" style="color:red;font-size: 1.1em;">
                    *Invalid Minimum Spend Amount.
                  </div>
                  <p class="validation">{{ valid['minspend'] }}</p>
                </div>

                <div class="form-group form-primary ">
                  <label>Discount Amount</label>
                  <input type="text" class="form-control" [(ngModel)]="voucher.discount" name="discount" value=""
                    placeholder="" autocomplete="off" max="4" [pattern]="discountPattern" #discount="ngModel">
                  <div *ngIf="discount.errors?.pattern" style="color:red;font-size: 1.1em;">
                    *Invalid Discount Amount.
                  </div>

                  <p class="validation">{{ valid['discount'] }}</p>
                </div>

                <div class="form-group form-primary ">
                  <label>Terms and Conditions</label>
                  <textarea rows="5" class="form-control" [(ngModel)]="voucher.termsandcondition " name="second_name"
                    value="" placeholder="" id="mymce1" autocomplete="off"></textarea>

                  <p class="validation">{{ valid['termsandcondition'] }}</p>
                </div>
                <div class="form-group form-primary ">
                  <label>Voucher details</label>
                  <p class="validation">{{ valid['detail'] }}</p>

                  <editor id="editor007" [(ngModel)]="voucher.detail "
                    apiKey="u664xbh2q1de3zrrftr9qnov0tzs8mks5w2quuzes4hbi53w" name="detail"
                    initialValue="<p>Tell about your Outlet</p>" [init]="{
                                    height: 300,
                                    menubar: false,
                                    plugins: [
                                      'advlist autolink lists link image charmap print',
                                      'preview anchor searchreplace visualblocks code',
                                      'fullscreen insertdatetime media table paste',
                                      'help wordcount'
                                    ],
                                    toolbar:
                                      'undo redo | formatselect | bold italic | \
                                      alignleft aligncenter alignright alignjustify | \
                                      bullist numlist outdent indent | help'
                                  }">
                  </editor>
                </div>
                <div class="row">

                  <div class="col-md-12"> <input type="submit"
                      class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 mt-5"
                      data-bs-toggle="modal" style="font-size:16px!important;" data-bs-target="#taskmodal2"
                      name="submit" value="Save" id="save" (click)='sendData()'>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>


