<div class="row"  style="padding-right: 0;padding-left: 0;">
    <div class="col-auto align-self-center pr-0">
        <button type="button" class="btn btn-link menu-btn" (click)="menuopen()" style="margin: 0;color: #dec074;width: 0;">
            <i class="bi bi-list" style="font-size: 20px;" style="color: #dec074;"></i>
        </button>
    </div>
    <div class="col text-center align-self-center px-0">
        <h2 style="margin: 0;color: #dec074;">Home</h2>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/shownotification" class="btn btn-link">
            <i class="bi bi-bell" style="color: #dec074;"></i>
        </a>
        <a routerLink="/profile" class="btn btn-link">
            <i class="bi bi-person"></i>
        </a>
    </div>
</div>