<!-- Ordered Items -->
<div class="row mb-4">
    <div class="col">
        <p class="small text-muted">Order ID: IDO10251541823</p>
    </div>
    <div class="col-auto text-end">
        <p class="small text-muted">Arrival on April 24</p>
    </div>
</div>

<!-- ordered product -->
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <div class="row mb-2 gx-3">
            <div class="col-auto">
                <div class="avatar avatar-60 rounded coverimg" style="background-image:url('assets/img/product2.jpg')">
                    <img src="assets/img/product2.jpg" alt="">
                </div>
            </div>
            <div class="col align-self-center">
                <h6>Boots Lives <span class="float-end"><strong>$ 210</strong></span></h6>
                <p class="small">
                    <span class="text-muted">Seller: Mobileux United States</span>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- trackable information -->
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <ul class="list-group list-group-flush bg-none mb-4">
            <li class="list-group-item border-0">
                <div class="position-absolute top-0 start-0 bg-success p-1 rounded mt-4"></div>
                <p class="mb-1">Ordered </p>
                <p class="small text-muted">Sunday 4th April 2021</p>
            </li>
            <li class="list-group-item border-0">
                <div class="position-absolute top-0 start-0 bg-success p-1 rounded mt-4"></div>
                <p class="mb-1">Packed </p>
                <p class="small text-muted">Tuesday 6th April 2021</p>
            </li>
            <li class="list-group-item border-0">
                <div class="position-absolute top-0 start-0 bg-success p-1 rounded mt-4"></div>
                <p class="mb-1">Packed-Up by Courier </p>
                <p class="small text-muted">Tuesday 6th April 2021 - 8:36 pm</p>
            </li>
            <li class="list-group-item border-0">
                <div class="position-absolute top-0 start-0 bg-success p-1 rounded mt-4"></div>
                <p class="mb-1">Shipped </p>
                <p class="small text-muted">Tuesday 6th April 2021 - 10:45 pm<br>From London, Bridge
                    Station</p>
            </li>
            <li class="list-group-item border-0">
                <div class="position-absolute top-0 start-0 bg-success p-1 rounded mt-4"></div>
                <p class="mb-1">Delivered </p>
                <p class="small text-muted">Monday 19th April 2021 - 9:10 pm<br>Item is delivered to Mr.
                    Falks Henchriyu</p>
            </li>
        </ul>
    </div>
</div>

<!-- price breakpoint -->
<div class="row mb-3">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <h6 class="my-1">Price Details</h6>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <p class="text-muted">Price <span class="float-end">$ 180</span></p>
        <p class="text-muted">Discount <span class="float-end">-$ 10</span></p>
        <p class="text-muted mb-4">Shipping Charge <span class="float-end">$ 40</span></p>
        <h6>Total Amount <span class="float-end">$ 210</span></h6>
    </div>
</div>

<!-- Buttons -->
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <div class="row mb-4">
            <div class="col-6 ">
                <a routerLink="/voucher" class="btn btn-link">Need Help <i class="bi bi-arrow-right mx-1"></i></a>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-primary shadow"><i class="bi bi-bag mx-1"></i> Buy Again</button>
            </div>
        </div>
    </div>
</div>