<div class="row">
    <div class="col-auto pr-0">
        <button type="button" style="background-color: transparent;outline: none;border: none;color: #dec074;"  class="btn btn-link back-btn" (click)="backnav()">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
    <div class="col text-center align-self-center px-0">
        <h2 style="color: #dec074; padding-top: 10px;"> {{news['title']}}</h2>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
            <i class="bi bi-house"></i>
        </a>
        <a routerLink="/profile" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
            <i class="bi bi-person"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 position-relative px-0 mb-4" >
        <div class="row mb-4" style="height: auto;">
            <div class="col-12 py-4">
                <div>
                    <img src="data:{{ imagetypeArr }};base64,{{ image1arr}}" style="width: 100%; object-fit: cover;">
                </div>
            </div>
        </div>
        
        <div class="container-fluid">            
            <div class="col-12 mb-4">
                <h2 style="color: #dec074; font-size: 25px;margin-bottom: 0;">{{news['title']}}</h2>
                <small style="color: white;">Posted on: {{news['date']}} at {{news['time']}} </small>
                <br><br>
                <small style="color: white;margin-top: 10px;font-size: 19px;">{{news['caption']}} </small>
                
                <div class="row mb-4">
                    <div class="col-12">
                        <p class="mb-1" style="margin-top: 15px;color: #dec074;" [innerHTML]="news['description']">{{news['description']}}</p>    
                    </div>
                </div>
                <div class="row mb-4" style="margin-top: 40%;">
                    <div class="col-15 d-grid">
                        <a class="btn" style="font-size: 15px;" (click) = "backnav()">Close</a>
                    </div>
                </div>
                        
                
            </div>
        </div>
    </div>
</div>








