p, h4 {
    color: #636060;
  }
  
  
  .btn {
    outline: none;
    background-color: #dec074;
    border: 1px solid #dec074;
    color: black;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  .container-fluid {
    background-color: black;
    padding: 20px;
  }
  
  ::ng-deep .btn-close
  {
    color:white;
  }

  .row{
    --bs-gutter-x: 0rem;
  }