@import "~bootstrap/dist/css/bootstrap.css";
*{
   
    color:gold;
    margin-left:0;
    margin:0;
  }



  body {
    
   font-family: Arial, Helvetica, sans-serif;
 }
 
 .topnav {
   position: relative;
   overflow: hidden;
  
 }
 
 .topnav a {
   float: left;
  
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 
 
 .topnav a.active {
 
   color: gold;
 }
 
 .topnav-centered a {
   float: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 
 .topnav-right {
   float: right;
 }
 
 .table-responsive{
   text-align:center;
   display:block;
   
 }
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
   
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    overflow:hidden;
}

.card {
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    background: rgb(36, 35, 35);
    margin-top:20px;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.percent {
    padding: 5px;
    background-color: red;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    height: 35px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}


.img-container {
    position: relative;
    
}

.img-container .first {
    position: absolute;
    width: 100%
}
.img-container img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height:200px;
    width:100%;
    
}

.product-detail-container {
    padding: 10px
}





label.radio {
    cursor: pointer
}
label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dc3545;
    color: #dc3545;
    font-size: 10px;
    border-radius: 50%;
    text-transform: uppercase
}
label.radio input:checked+span {
    border-color: #dc3545;
    background-color: #dc3545;
    color: #fff
}
.container .register {
  color:gold;
  
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:red;
}

/* Create an active/current tablink class */

.nav-item.active{
  background-color:gold;
}

/* Style the tab content */

.nav-tabs .nav-link{

  background-color: black;
  color: white ;
}
.register .nav-tabs .nav-link:focus{
 color:gold;
 border:transparent;

}.register .nav-tabs .nav-link:active{
  color:gold;
  border:transparent;
 
 }






 .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:70px;
	right:40px;
	
	
	border-radius:50px;
	text-align:center;
	
  font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	background-color:goldenrod;
  
  

}
.float i{
  color:black;
  
}
.my-float{
	margin-top:22px;
}

.small{
  
  text-align:center;
  color:grey;
}
.small small{
  color:grey;
}
small span{
  color:rgb(207, 189, 189);
  float:left;
 
}
.ratings small span{
  float:left;
 
}
#last small span{
  color:rgb(112, 112, 112);
}
small span strong{
  float:right;
}
.form-control{
  background-color: rgb(36, 35, 35);
  
}
.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 13px;
  left: 20px;
  
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px
}
.left-pan i {
  padding-left: 10px
}

.form-input {
  height: 40px;
  text-indent: 33px;
  border-radius: 10px
}

.form-input:focus {
  box-shadow: none;
  border: none
}
.title{
  margin-top:50px;
  margin-left:12px;
}
#image1{
  padding:10px;

}
.tab {
 
  overflow-x:auto;
  border-radius: 10px;
  margin-top:40px;
  align-items:center;
  background-color: rgb(63, 61, 61);
  
  padding-right:20px;
  display:flex;
  text-align:center;
  margin-left:5px;
  margin-right:5px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
  
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:gold;
  color:black;
  border-radius:8px;
  
}

/* Create an active/current tablink class */
.tab button .focus {
  background-color: gold;
  color:gold;
  border-radius:25px;

}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
 
}


.tablinks{
  color:grey;
}
.mb-1{
  font-size: 20px;
}
.fa-search{
  color:grey;
}
#image1{
 
  filter: brightness(1.5) saturate(70%);
}
#image2 img{
  filter: brightness(0.5) saturate(100%);
 
}
.text-block {
  position: absolute;
  bottom: -10px;
  right: 190px;
  background-color: transparent;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  float:left;
  
}
.text-block p{
  color:white;
}
.ratings span small{
    float:left;
    font-size:10px;
    color:grey;
}
.ratings span small strong{
    float:right;
}

@media screen and (min-width:768px) {
  .card{
      width:30%;
      text-align:center;

  }
  .container {
      max-width:100%;
      width: 100%;
  }
  .col-md-3{
      width:100%;
      float:left;
      margin:0;
  }
  #image1,#image2{
    width:30%;
  }
  }
  