<style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
</style>

<div class="closemenu text-muted" (click)="menuclose() ">Close Menu</div>

<div class="sidebar"><br>

    <br><br>


    <div class="row">
        <div class="col-auto mx-auto text-center" *ngFor = "let profile of onmerchantArr">
            <figure class="avatar avatar-100 rounded-circle mx-auto mb-3">
                <img src="data:{{ profile['thumbnailType'] }};base64,{{profile['thumbnail']}}" alt=""
                style="object-fit: cover; height: 100px; width: 100px">
            </figure>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <ul class="nav nav-pills">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <div class="avatar avatar-40 rounded icon"><i class="bi bi-shop"></i></div>
                        <div class="col">Shop Management</div>
                        <div class="arrow" style="background-color: black;">
                            <i class="bi bi-plus plus" style="background-color: black;"></i> 
                            <i class="bi bi-dash minus" style="background-color: black;"></i>
                        </div>
                        
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav-link" routerLink="/payment" routerLinkActive='active' (click)="menuclose()">
                                <div class="avatar avatar-40 rounded icon"><i class="bi bi-bag"></i></div>
                                <div class="col">Voucher Management</div>
                                <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                            </a></li>

                        <li><a class="dropdown-item nav-link" (click)="open()" routerLinkActive='active' (click)="menuclose()">
                                <div class="avatar avatar-40 rounded icon"><i class="bi bi-binoculars"></i></div>
                                <div class="col">Product Management</div>
                                <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                            </a></li>

                        <li><a class="dropdown-item nav-link" routerLink="/memberdata" routerLinkActive='active' (click)="menuclose()">
                                <div class="avatar avatar-40 rounded icon"><i class="bi bi-basket3"></i></div>
                                <div class="col">Members Management</div>
                                <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                            </a></li>
                            
                        <li><a class="dropdown-item nav-link" routerLink="/report" routerLinkActive='active' (click)="menuclose()">
                                <div class="avatar avatar-40 rounded icon"><i class="bi bi-credit-card"></i></div>
                                <div class="col">Report Management</div>
                                <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                            </a></li>

                        <li><a class="dropdown-item nav-link" routerLink="/booking" routerLinkActive='active' (click)="menuclose()">
                                <div class="avatar avatar-40 rounded icon"><i class="bi bi-box-seam"></i></div>
                                <div class="col">Booking Management</div>
                                <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                            </a></li>

                            <li><a class="dropdown-item nav-link" routerLink="/eventmanagement" routerLinkActive='active' (click)="menuclose()">
                                <div class="avatar avatar-40 rounded icon"><i class="bi bi-box-seam"></i></div>
                                <div class="col">Event Booking</div>
                                <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                            </a></li>

                            <li><a class="dropdown-item nav-link" routerLink="/eventlist" routerLinkActive='active' (click)="menuclose()">
                                <div class="avatar avatar-40 rounded icon"><i class="bi bi-box-seam"></i></div>
                                <div class="col">Events Management</div>
                                <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                            </a></li>

                            <li><a class="dropdown-item nav-link" routerLink="/outletlist" routerLinkActive='active' (click)="menuclose()">
                                <div class="avatar avatar-40 rounded icon"><i class="bi bi-box-seam"></i></div>
                                <div class="col">Outlet List</div>
                                <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                            </a></li>
                    </ul>
                </li>
           
   
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shownotification" routerLinkActive='active' (click)="menuclose()">
                        <div class="avatar avatar-40 rounded icon"><i class="bi bi-bell"></i></div>
                        <div class="col">Notification</div>
                        <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" routerLink="/outletsettings" routerLinkActive='active' (click)="menuclose()">
                        <div class="avatar avatar-40 rounded icon"><i class="bi bi-gear"></i></div>
                        <div class="col">Outlet Settings</div>
                        <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/aboutus" routerLinkActive='active' (click)="menuclose()">
                        <div class="avatar avatar-40 rounded icon"><i class="bi bi-file-earmark-text"></i></div>
                        <div class="col">About Us </div>
                        <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/faqs" routerLinkActive='active' (click)="menuclose()">
                        <div class="avatar avatar-40 rounded icon"><i class="bi bi-file-earmark-text"></i></div>
                        <div class="col">FAQs </div>
                        <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive='active' (click)="logout()">
                        <div class="avatar avatar-40 rounded icon"><i class="bi bi-box-arrow-right"></i></div>
                        <div class="col">Logout</div>
                        <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>