$color-primary:#9956ff;
$text-primary:#ffffff;

$color-secondary:#f5f1fb;
$text-secondary:#000000;

$color-btn-primary:#03a9f4;
$text-btn-primary:#ffffff;

$color-btn-secondary:#f12b6e;
$text-btn-secondary:#ffffff;


$color-success: #65e5cd;
$color-danger: #fb7399;
$color-warning: #ffce74;
$color-purple: #9956ff; 
$color-blue: #63ccfd; 