<div class="row h-100"  style="background-color: black; align-content: center; ">
    <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto mt-auto pt-4 text-center mb-100px ">
    <img src="assets/img/logox.png" style="width:100%; height:auto; max-width:150px; margin-bottom: 20px;">
    <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto mt-auto text-center mb-100px d-grid gap-2" >
        <h1 class="mb-1" style="color:white">Welcome to <b>LOYALTY</b></h1>
        <p class="text-muted mb-4"  style="color:white" >Let's take your first step with wiser.</p>
        <button routerLink="/signin"  class="btn btn-lg btn-default btn-block shadow-sm" style="color:black !important">Login</button>
        <button hidden routerLink="/signup"  class="btn btn-lg btn-default btn-block shadow-sm" >SignUp</button>
    </div>
</div>



