<div class="row" >
    <div class="col-auto pr-0">
        <button type="button" style="background-color: transparent;outline: none;border: none;color: #dec074;"  class="btn btn-link back-btn" (click)="backnav()">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
  </div>
<br><br>

<div class="container"  >
    <div class="outer"> 
        <img src="data:{{onmerchant['thumbnailType']}};base64,{{ onmerchant['thumbnail']}}" alt="">
      <div class="inner"> 
        <input class="inputfile" id="fileimage" type="file" name="file">     
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"></svg>
      </div>
    </div>
</div>

<!-- profile information -->
<div class="row" style="align-self: center; margin: 0px 10px ; background-color: black;" >
<div class="row">
    <div class="col">
        <h3 style="color: #dec074;">Basic Information</h3>
    </div>
</div>
<div class="row h-100 mb-4" >
    <div class="col-12 col-md-6 col-lg-4" >
        <div class="form-group form-floating  mb-3" >
            <input disabled value="{{onmerchant.merchanttype}}"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;" type="text" class="form-control" name="names">
            <label for="names">Merchant Type</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating  mb-3">
                <input disabled type="text" class="form-control" value="{{onmerchant.email}}" style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;"
                name="emailaddress">
            <label  for="emailaddress">Email Address</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating  mb-3">
            <input disabled type="text" class="form-control" value="{{onmerchant.contact}}" style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
                
            <label  for="phone">Contact Number</label>
        </div>
    </div>
</div>


<div class="row mb-2">
    <div class="col">
        <h3 style="color: #dec074;">Social Media </h3>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input disabled type="text" class="form-control" name="address1" value="{{onmerchant.tiktok}}"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label  class="form-control-label" for="address1"> TikTok</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input disabled type="text" class="form-control" name="address1" value="{{onmerchant.twitter}}"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label  class="form-control-label" for="address1"> Twitter</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input disabled type="text" class="form-control" name="address1" value="{{onmerchant.ig}}"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label  class="form-control-label" for="address1"> Instagram</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input disabled type="text" class="form-control" name="address2"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;"
            value="{{onmerchant.fb}}">
            <label  class="form-control-label" for="address2">Facebook</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input disabled type="text" class="form-control" name="address3" value="{{onmerchant.linkedin}}" style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label  class="form-control-label" for="address3">LinkedIn</label>
        </div>
    </div>
</div>


<!-- add edit address form -->
<div class="row mb-2">
    <div class="col">
        <h3 style="color: #dec074;">Company Information</h3>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input disabled type="text" class="form-control" name="address1" value="{{onmerchant.companyname}}"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label  class="form-control-label" for="address1"> Company Name</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input disabled type="text" class="form-control" name="address1" value="{{onmerchant.regno}}"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label  class="form-control-label" for="address1"> Registration Number</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3" >
        <div class="form-group form-floating" >
            <input disabled type="text" class="form-control" name="address2"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;"
            value="{{onmerchant.address}}">
            <label  class="form-control-label" for="address2">Address</label>
        </div>
    </div>
    
</div>

    <div class="row mb-2">
        <div class="col">
            <h3 style="color: #dec074;">Bank Accounts</h3>
        </div>
    </div>
    <div class="row h-100 mb-4" style="background-color: black;border-color: #dec074; ">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating  mb-3" >
                <input disabled type="text" class="form-control" value="{{onmerchant.bankacc}}" name="names"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
                <label  for="names">Bank Account</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating   mb-3">
                <input disabled type="text" class="form-control" value="{{onmerchant.bankname}}" name="usernames"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
                <label  for="Usernames">Bank Name</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating  mb-3">
                <input disabled type="text" class="form-control" value="{{onmerchant.swiftcode}}"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;"
                    name="emailaddress">
                <label for="emailaddress">Swift Code</label>
            </div>
        </div>
    </div>


<div class="row h-100 mb-4">
    <div class="col-12 d-grid" ><a (click)=go() target="_self" class="btn btn-default mt-3" style="background-color: #dec074; color: black;">Update Profile</a></div>
</div>

</div>





