<div class="row" >
    <div class="col text-center align-self-center px-0">
        <h2 style="color: #dec074; padding-top: 10px;">Payment Receipt</h2>
    </div>
  </div>


<div class="heading">
<div class="image" style="height:600px; ">
<img src="data:{{ image['thumbnailType']}};base64,{{ image['thumbnail'] }}"
width="100%" height="100%" style="object-fit: fill; " />
</div>
<div class="row mb-4">
    <div class="col-15 d-grid">
        <a class="btn" style="font-size: 15px;" (click)=backnav() >OK</a>                       
    </div>
</div></div>