<div class="row h-100" style="background-color: black;">
    <div class="covering position-absolute start-0" style="opacity: 10%;top: 20%;height: 70%">
        <img src="assets/img/logox.png" 
        style="height: 80%; width: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
    </div>
    <div class="image-box__overlay">
        <div class="row" style="margin-top: 200px;">
    <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto mt-auto pt-4 text-center">
        <h2 class="mb-1">Forgot Password?</h2>
        <p class="mb-4">Provide your registered email to reset your password</p>
        <form class="d-grid gap-2">
            <div class="form-group form-floating is-valid">
                <input type="email" id="email" name="email" [(ngModel)]="merchantuser.email"class="form-control-sm" placeholder="Enter your email" autocomplete="off" >                
                <a (click)="sendData()"class="btn">Send Code</a>
            </div>            
        </form>
    </div>
    </div>
    </div>
</div>