<!-- profile picture -->
<!-- profile -->
<div class="row" style="padding-right: 0;padding-left: 0;">
    <div class="col-auto pr-0">
        <button type="button" style="margin: 0px;background-color: transparent;outline: none;border: none;color: #dec074;width: 0;"  
        class="btn btn-link back-btn" routerLink="/home">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
    <div class="col text-center align-self-center px-0">
        <h2 style="color: #dec074;margin: 0px;"> My Profile </h2>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/home" class="btn btn-link" style="margin: 0px;background-color: transparent;outline: none;border: none;color: #dec074;" >
            <i class="bi bi-house"></i>
        </a>
        <a class="btn btn-link" style="margin: 0px;background-color: transparent;outline: none;border: none;color: #dec074;">
            <i class="bi bi-person"></i>
        </a>
    </div>
</div>
<br>

<div class="row" style="background-color: black;" *ngFor= "let profile of onmerchantArr">
    <div class="col-12" style="background-color: black;">
        <div class="card shadow-sm mb-4" style="background-color: black;">
            <ul class="list-group list-group-flush" style="background-color: black;" >
                <li class="list-group-item border-0" style=" box-shadow:2px 4px 8px 0 #dec074; background-color: transparent;">
                    <div class="row">
                        <div class="col-auto text-center"  >
                            <figure class="avatar avatar-90 rounded" style="height: 100px;">
                                <img src="data:{{ profile['thumbnailType'] }};base64,{{profile['thumbnail']}}"  style="box-shadow:0 4px 8px 0 rgba(222,199, 4, 0.3), 0 6px 20px 0 rgba(222,199, 4, 0.29); object-fit:cover; height:100px; width: 100px;padding-right: 15px;">
                            </figure>
                        </div>
                        <div class="col px-0 align-self-center" >
                            <p style="font-size: 24px; color: #dec074;">{{profile['companyname']}} </p><small class="text-muted">{{profile['address']}}</small><br><small class="text-muted">{{profile['contact']}}</small>
                       
                        </div></div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- below profile -->
<div class="row">
    <div class="col-12">
        <div class="card mb-4" style="background-color: transparent;">
            <ul class="list-group list-group-flush">
              
                <li routerLink="/booking"
                class="list-group-item" style="background-color: transparent;border-bottom: 2px solid #dec074;">
                    <div class="row gx-3">
                        <div class="col-auto"><i class="bi bi-card-list"></i></div>&nbsp;&nbsp;
                        <div class="col">My Booking List</div>
                        <div class="col-auto align-self-center">
                            <i class="bi bi-chevron-right small"></i>
                        </div>
                    </div>
                </li>
                <li routerLink="/myaccount"
                class="list-group-item" style="background-color: transparent;border-bottom: 2px solid #dec074;">
                    <div class="row gx-3">
                        <div class="col-auto"><i class="bi bi-card-list"></i></div>&nbsp;&nbsp;
                        <div class="col">My Account</div>
                        <div class="col-auto align-self-center">
                            <i class="bi bi-chevron-right small"></i>
                        </div>
                    </div>
                </li>
                <li routerLink="/memberdata" 
                class="list-group-item" style="background-color: transparent;border-bottom: 2px solid #dec074;">
                    <div class="row gx-3">
                        <div class="col-auto"><i class="bi bi-people-fill"></i></div>&nbsp;&nbsp;
                        <div class="col">Members</div>
                        <div class="col-auto align-self-center">
                            <i class="bi bi-chevron-right small"></i>
                        </div>
                    </div>
                </li>
                <li routerLink="/product" 
                class="list-group-item" style="background-color: transparent;border-bottom: 2px solid #dec074;">
                    <div class="row gx-3">
                        <div class="col-auto"><i class="bi bi-bag"></i></div>&nbsp;&nbsp;
                        <div class="col">My Products</div>
                        <div class="col-auto align-self-center">
                            <i class="bi bi-chevron-right small"></i>
                        </div>
                    </div>
                </li>
                <li routerLink="/payment" 
                class="list-group-item" style="background-color: transparent;border-bottom: 2px solid #dec074;">
                    <div class="row gx-3">
                        <div class="col-auto"><i class="bi bi-gift"></i></div>&nbsp;&nbsp;
                        <div class="col">Vouchers</div>
                        <div class="col-auto align-self-center">
                            <i class="bi bi-chevron-right small"></i>
                        </div>
                    </div>
                </li>
                <li routerLink="/redemption" 
                class="list-group-item" style="background-color: transparent;border-bottom: 2px solid #dec074;">
                    <div class="row gx-3">
                        <div class="col-auto"><i class="bi bi-award"></i></div>&nbsp;&nbsp;
                        <div class="col">Points Redemption</div>
                        <div class="col-auto align-self-center">
                            <i class="bi bi-chevron-right small"></i>
                        </div>
                    </div>
                </li>
                <li routerLink="/report" 
                class="list-group-item" style="background-color: transparent;border-bottom: 2px solid #dec074;">
                    <div class="row gx-3">
                        <div class="col-auto"><i class="bi bi-graph-up"></i></div>&nbsp;&nbsp;
                        <div class="col">Business Insights</div>
                        <div class="col-auto align-self-center">
                            <i class="bi bi-chevron-right small"></i>
                        </div>
                    </div>
                </li>

            

                <li class="list-group-item" style="background-color: transparent;border-bottom: 2px solid #dec074;">
                    <div class="row gx-3" routerLinkActive='active' (click)="logout()">
                        <div class="col-auto"><i class="bi bi-box-arrow-right"></i></div>&nbsp;&nbsp;
                        <div class="col">Logout</div>
                        <div class="col-auto align-self-center">
                            <i class="bi bi-chevron-right small"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<br><br>