<div class="row h-100" style="background-color: black; align-content: center;">
    <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto pt-4 text-center align-self-center">
        <br><br>
        <img src="assets/img/logox.png" alt="" class="mw-100 mx-auto my-4">
        <br>
        <h1 class="mb-1" style="color: #c5bd72; opacity: 0.8; letter-spacing: 2; font-weight: 800;">THANK YOU!</h1>
        <h3 style="font-weight: 600;">You have successfully sign up<br><b>LOYALTY</b> Merchant</h3><br>
        <p class= "text-muted">A verification email has been sent to your registered e-mail address. Kindly fill in your store details and upload the necessary documents</p>
    </div>
    <div class="w-100"></div>
    <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto mt-auto pt-4 text-center mb-100px d-grid gap-2">
        <a routerLink="/signin" target="_self" class="text-white btn btn-lg btn-link" style="transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);">Continue <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
