<div class="container" style="background-color: #2c2c2c; border-top: #dec074; ">
    <ul class="nav nav-pills nav-justified" >
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive='active' style="color: #dec074;">
                <span>
                    <i class="nav-icon bi bi-house"></i>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/outletsettings" routerLinkActive='active' style="color: #dec074;">
                <span>
                    <i class="nav-icon bi bi-plus-circle"></i>
                    <span class="nav-text">Stats</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/scan" routerLinkActive='active' style="color: #dec074;">
                <span>
                    <i class="nav-icon bi bi-upc-scan"></i>
                    <span class="nav-text">Scan</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/report" routerLinkActive='active'style="color: #dec074;">
                <span>
                    <i class="nav-icon bi bi-bar-chart-fill"></i>
                    <span class="nav-text">Report</span>
                </span>
            </a>
        </li>
    </ul>
</div>