p, h4 {
    color: white;
}

.btn {
    outline: none;
    background-color: #dec074;
    border: 1px solid #dec074;
    color: black;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.container-fluid {
    background-color: black;
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    height: auto;
}
h2{
    color:#dec074 !important
}
.row{
    --bs-gutter-x: 0rem;
  }