<div class="row" >
    <div class="col-auto pr-0">
        <button type="button" style="background-color: transparent;outline: none;border: none;color: #dec074;"  class="btn btn-link back-btn" (click)="backnav()">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
    <div class="col text-center align-self-center px-0">
        <h2 style="color: #dec074; padding-top: 10px;">
        </h2>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
            <i class="bi bi-house"></i>
        </a>
        <a routerLink="/profile" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
            <i class="bi bi-person"></i>
        </a>
    </div>
  </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row ">
    <div class="col-12 position-relative px-0 mb-4">    
       
        <div class="row mb-4" style="height: 200px;">                    
            <figure class="card-img-top overflow-hidden mb-0 coverimg" 
            style="
            height: 350px;
            background-image:url('data:{{ imagetypeArr }};base64,{{ image1arr }}')">
                <img src="data:{{ imagetypeArr }};base64,{{ image1arr }}"alt="project images" style="object-fit: cover; width: 100%;">
            </figure>
        </div>     
  
        <div class="container-fluid" style="position: absolute;height: 55vh; top: 95%;">
            <div style="border-bottom: 6px solid gray; width: 30%; border-radius: 30px; margin: auto"></div>
            <div class="col-12 mb-4" style="padding: 10px">
                <br>
                <h2 style="color: black; font-size: 25px;">{{moutlet['shopname']}}</h2>
                <h4 class="mb-1">{{moutlet['address']}}                   
                </h4>
                <br>
                <p class="small mb-2" style="color: white;">
                       {{reviewlength}} Reviews
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="small">                        
                        <i class="bi bi-star-fill" style="color: #dec074;"></i> {{moutlet['avgrating'] |number : '1.1-1'}}
                    </span>
  
                    <button mat-button 
                    style="float: right;outline: none;border: none;background-color: transparent;color: grey;">
                     
                    </button>
                    <br>
                    <span class="small" style="color: grey;">
                        <a style="text-decoration:none; color:grey;" >See details
                            <i class="bi bi-arrow-right"   (click)="Transferreview(moutlet['_id'])"></i>
                        </a>
                    </span>
                </p>
                <br>
                <h3 style="color: #dec074; ">Description</h3>                
                <div class="row mb-4">
                    <div class="col-12">
                        <p class="mb-1">{{moutlet['description']}}
                        </p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-15 d-grid">
                        <a  class="btn" style="font-size: 15px;" (click)=close()>Close</a>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
