.demo-inline-calendar-card {
    width: 90%;
    color: white;
    margin: auto;
  }

  ::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical)
  {
      border: 2px solid #dec074;
      color: white;
  }

  ::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical)
  {
      background-color: #dec074;
      color: black;
  }

  ::ng-deep .mat-card
  {
      background-color: #2c2c2c;
      color: white;
  }

  ::ng-deep .mat-calendar-table-header, .mat-calendar-body-label
  {
      color: white;
  }

  ::ng-deep td.mat-calendar-body-label
  {
      color: white;
  }

  ::ng-deep .mat-calendar-body-cell-content, .mat-date-range-input-separator
  {
      color: white;
  }

  ::ng-deep .mat-calendar-arrow
  {
    border-top-color: white;
  }
  
  :host ::ng-deep .mat-tab-label-active {
    color:#dec074;    
    width:100%;
  }
  :host ::ng-deep .mat-tab-label {
    color:white;    
    width:100%;
  }

  ::ng-deep .mat-tab-body-content
  {
      color: white;
  }

::ng-deep .mat-tab-label, .mat-tab-link{
    color:#dec074;
    width:100%;
    background-color:transparent !important;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:#dec074;
}
::ng-deep .mat-tab-body-content{
    background-color:transparent;
}


.btn {
    outline: none;
    background-color: #dec074;
    border: 1px solid #dec074;
    color: black;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 20px;
}



// hgkjglb;kh;

  
  
  #show:not(:checked) ~ p { display: none; }
  #show:checked ~ h6 {display: none}

  input {
      height: 18px;
      width: 18px;
  }


  

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin: 0px;
    border:none;
  }
  

  .icon {
    padding: 10px;
    padding-left:0;
    color:#dec074;
    min-width: 20px;
    text-align: left;
  }
  
  .input-field {
    width: 100%;
    outline: white;
    border:none;
    background: transparent;
  }
  
  input
  {
      color: white;
  }

  .input-field::placeholder
  {
      color: #dec074;
  }
   
      .details {
        color:white;
        left: 5px;
      }

.bi 
{
    color: white;
}

.break
{
    background-color: white;
}

.row span
{
    font-size: 12px;
}

.row{
    --bs-gutter-x: 0rem;
  }