<div class="row">
    <div class="col-auto pr-0">
        <button type="button" style="background-color: transparent;outline: none;border: none;color: #dec074;"  class="btn btn-link back-btn" (click)="backnav()">
            <i style="color: #dec074;" class="bi bi-arrow-left"></i>
        </button>
    </div>
    <div class="col text-center align-self-center px-0">
        <h2 style="color: #dec074; padding-top: 10px;"> Voucher Redemption </h2>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
            <i style="color: #dec074;" class="bi bi-house"></i>
        </a>
        <a routerLink="/profile" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
            <i style="color: #dec074;" class="bi bi-person"></i>
        </a>
    </div>
</div>






<div class="row">
    <div class="row" style="width: 100%; margin: 0;margin-top: 5px;">
        <div class="col-12 mb-3 px-0">
            <mat-tab-group mat-align-tabs="start">    
                <mat-tab label="Today">
                    <ng-container *ngFor= "let todayscan of todayshowArr" >
                         
                        <div class="col-12">
                            <div class="card mb-4" style="height: auto; background-color: transparent;box-shadow: 0 4px 8px 0 rgba(222,192,116,0.5);">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="padding: 0px; padding-right: 15px; background-color: transparent;">
                                        <div class="row">
                                            <div class="col-auto align-self-center">
                                                <img src="data:{{ todayscan['thumbnailType']}};base64,{{ todayscan['thumbnail'] }}" alt="" style="width: 15vh; height: 15vh;">
                                            </div>
                                            <div class="col px-0 align-self-center" style="color: #dec074;">
                                                <p style="font-size: 18px;">{{todayscan['title']}}<br>
                                                    <small style="color: white;">Redeemed by: {{todayscan['membername']}}</small><br>
                                                    <small style="color: white;">{{todayscan['createddate']}}</small><br>
                                                    <small style="color: red;">Product : {{todayscan['productname']}}</small>
                                                </p>
                                            </div>
                                            </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    
</ng-container>

                </mat-tab>


                <mat-tab label="30 Days">
                    <ng-container *ngFor= "let month of monthshowArr" >
                         
                        <div class="col-12">
                            <div class="card mb-4" style="height: auto; background-color: transparent;box-shadow: 0 4px 8px 0 rgba(222,192,116,0.5);">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="padding: 0px; padding-right: 15px; background-color: transparent;">
                                        <div class="row">
                                            <div class="col-auto align-self-center">
                                                <img src="data:{{ month['thumbnailType']}};base64,{{ month['thumbnail'] }}" alt="" style="width: 15vh; height: 15vh;">
                                            </div>
                                            <div class="col px-0 align-self-center" style="color: #dec074;">
                                                <p style="font-size: 18px;">{{month['title']}}<br>
                                                    
                                                    <small style="color: rgb(245, 238, 238);">Redeemed by: {{month['membername']}}</small><br>
                                                  
                                                    <small style="color: white;">{{month['createddate']}}</small><br>
                                                    <small style="color: red;">Product : {{month['productname']}}</small>
                                                
                                            </div>
                                            </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    
</ng-container>

                      

                </mat-tab>

            </mat-tab-group>
        </div>
        
    </div>
</div>

<br><br>
