*{
   
    color:#dec074;
    margin-left:0;
    
  }



  .main-background{
    background-color: black;
  }
 
 .topnav {
   position: relative;
   overflow: hidden;
  
 }
 
 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 .topnav a.active {
 
   color: #dec074;
 }
 
 .topnav-centered a {
   float: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 
 .topnav-right {
   float: right;
 }
 
 .table-responsive{
   text-align:center;
   display:block;
   
 }
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: black;
 
    overflow:hidden;
}

#card2 {
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius:25px;
  background: black;
  box-shadow: 0px 2px 10px rgb(222, 192, 116, 0.7);
  max-width: 96%;
  margin-left: 2%;
}



 .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:20px;
	
  z-index: 1;
	border-radius:50px;
	text-align:center;
	
  font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	background-color:#dec074;
  
  

}
.float i{
  color:black;
  
}
.my-float{
	margin-top:22px;
}

.small{
  
  text-align:center;
  color:grey;
}
.small small{
  color:grey;
}
small span{
  color:grey;
  float:left;
}

.title{
    margin-left:20px;
    margin-top:10px;
}



.list-group {
    width: 400px !important
}

.list-group-item {
    margin-top: 10px;
    border-radius: none;
    background:rgb(32, 35, 39);
    cursor: pointer;
    transition: all 0.3s ease-in-out
}



.check {
    opacity: 0;
    transition: all 0.6s ease-in-out
}

.list-group-item:hover .check {
    opacity: 1
}

.about span {
    font-size: 12px;
    margin-right: 10px;
   
}


input[type=checkbox] {
    position: relative;
    cursor: pointer
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0;
    border: 1px solid #10a3f9;
    border-radius: 3px;
    background-color: white
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 7px;
    height: 12px;
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px
}

input[type="checkbox"]:checked+.check {
    opacity: 1
}
.buttonb{
    color:#dec074;
    background-color: #dec074;
    border:transparent;
    border-radius:5px;
    height:30px;
    width:90px;
}
.badge{
    color:black;
    background-color:transparent;

}
 .mb-0 strong{
    color:grey;
    
}
span small{
    color:grey;
}
.flex-row img{
    margin-right: 20px;
}
footer{
  background-color:black;
}


.dropdown-toggle::after{
  display:none;
}
.fa-ellipsis-v{
 color:grey;
}
.dropdown-menu{
  background-color:#202327;
}
.dropdown-item{
  color:white;
}
.modal-content{
  background-color: rgb(36, 35, 35);
}
.modal-footer{
  color:none;
}
.btn-primary{
  width:45%;
  background-color:#dec074;
  color:black;
  border:none;
}
//shree
.image-box__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.float{
  z-index: 1;
}

.search
  {    
    box-sizing: border-box;
  }

  form {
    background-color: #2c2c2c;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:15px;
  
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%; 
    border-radius:20px;
    border: none;
    font-size: 25px;
    background-color: #2c2c2c;
    margin-bottom: 5px;
    padding: 5px;    
  }
  
  .icon {
    padding: 5px;
    color: rgb(175, 168, 168);
    min-width: 50px;
    text-align: center;
    font-size: 20px;    
  }
  
  .input-field {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: white;
  }

  .input-field::placeholder
  {
    color: rgb(175, 168, 168);
  }

  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  input[type = "text"]
  {
      font-size: 18px;
      font-weight: bold;
  }

  .cbtn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    width: 11vh;
    padding: 10px;

  }
  .cbtn.active {
   background-color: #dec074;
   color: black;
  }
  .cbtn:hover {
   background-color: #dec074;
   color: black;
  }

  .card-body
  {
    height: 100px;
  }
  h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .form{
    background-color: transparent;
    color: #dec074;
    box-shadow: 2px 2px 10px #dec074;
}

//upload button
.bt {
    background-color: #dec074;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 12px 16px;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
  }
 
  /* Darker background on mouse-over */
  .bt:hover {
    background-color: dimgrey;
    opacity: 0.3;
  }

.input{
    background-color: transparent;
    box-shadow: 0px 2px 10px #dec074;
    color: #dec074;
}

.input:label{
    color: #dec074;
}

svg {
  color: black;
  fill: currentColor;
  width: 25px;
  height: 25px;
  float:right;

}

.searchbar{
  padding-left:12px;
  padding-right:12px;
}
input #query{
width:100%;

}

button {
  all: unset;
  cursor: pointer;
 
}

.row{
  --bs-gutter-x: 0rem;
}
.img-container {
  position: relative;
  
}

.img-container .first {
  position: absolute;
  width: 100%
}
.img-container img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height:200px;
  width:100%;
  
}

.product-detail-container {
  padding: 10px
}
    
.card2 {
  height: 160px
}
#card1{
  border-radius:60px;
  height:40px;
 
  width:150px;
  background: rgb(36, 35, 35);
}
#card1 p{
  position:absolute;
  top:25%;
  
}

.active , #card1:hover{
  background-color:#dec074;
  color:black;
}

#card1 p:hover{
  color:black;
  font-weight: 700;
}
#moredd1{
  position:absolute;
  right:12px;
}
.d-flex img{
  padding:10px;
  height:120px;
  width:130px;
  margin-right:20px;
  border-radius:15px;
}
.text-left .row{
  padding-top:10px;
  
}
.mb-1 p{
  font-size: 20px;
  padding-top:15px;
}
.dropdown-item{
  color:#dec074
}

#yes{
  width:35%;
  background-color:#dec074;
  border:none;
  color:black;
  font-size:20px;
  margin-right: 10px;
}

#no{
width:35%;
background-color:#dec074;
border:none;
color:black;
font-size:20px;

}