<div class="row">    
    <div class="col-12 position-relative px-0 mb-4">
        <swiper class="swiperprojects" [slidesPerView]="1" [spaceBetween]="10" [pagination]="false">

            <ng-template swiperSlide>
                <div class="row mb-4">
                    <div class="col-12 py-4">
                        <div class="coverimg position-absolute top-0 start-0 w-100" 
                        style="
                        height: 300px;">
                            <img src="data:{{ imagetypeArr }};base64,{{ image1arr }}" alt=""
                            style="object-fit: cover;width: 100%;">
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
        
        <div class="container-fluid" style="height: 90vh">
            <div style="
                    border-bottom: 6px solid gray; 
                    width: 30%;
                    margin: auto;">
            </div>
            <div class="col-12 mb-4">
                
                <br>
                <h2 style="color: black; font-size: 25px;">Dinner Night with Ed Sheeran</h2>
                
                <div class="row">
                    <div class="col">
                        <p>
                            <i class="bi bi-calendar mx-1" style="color: #2c2c2c;"></i>
                            <span class="small" style="color: black;">Mon, 16 Nov 2021</span>
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <span class="small" style="color: black;">Subang Jaya, Selangor</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            <i class="bi bi-clock mx-1" style="color: #2c2c2c;"></i>
                            <span class="small" style="color: black;">7.00 PM</span>
                        </p>
                    </div>
                </div>
                <br>
                <h3 style="color: black; font-weight: bold;">Event Organiser</h3>

                <div class="row" style="padding-bottom: 20px;">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto">
                                <figure class="avatar avatar-50 rounded-circle">
                                    <img src="assets/img/user3.jpg" alt="">
                                </figure>
                                <span class="small" style="color: black;"> &nbsp; LCP Buildsoft Technology</span>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col">
                                    <p>
                                        <i class="bi bi-whatsapp text-success" style="color: #2c2c2c;"></i>
                                        <span class="small" style="color: black;">&nbsp;+6012-3570512</span>
                                    </p>
                                </div>
                                <div class="col">
                                    <p>
                                        <i class="bi bi-envelope" style="color: #2c2c2c;"></i>
                                        <span class="small" style="color: black;">&nbsp; abc@gmail.com</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <i class="bi bi-telephone text-primary" style="color: #2c2c2c;"></i>
                                        <span class="small" style="color: black;">&nbsp;+012-3570512</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <h3 style="color: black; font-weight: bold;">Description</h3>
                <div class="row mb-4">
                    <div class="col-12">
                        <h4 style="color: black;">
                            A restaurant, or more informally and eatery, is a
                            business that prepares and serves food and drinks
                            to customers. Meals are generally served and eaten on
                            the premises, but many restaurants also offer take-out
                            and food delivery services.
                    </h4>
                    </div>
                </div>

                <div class="row" style="height: 30px;">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto">
                                <i class="bi bi-person" style="color: black;"></i>
                                <span style="color: grey;"> &nbsp; Joined: 180 ppl</span>
                            </div>
                        </div>
                    </div>
                    <div class="col text-end">
                        <div class="row">
                            <div class="col">
                                <i style="color: black;" class="bi eye bi-eye"></i>
                                <span style="color: grey;"> &nbsp; 120 Views</span>                            
                            </div>
                        </div>
                    </div>
                </div>
                <br>

            </div>         
        </div>
    </div>
</div>
<br><br><br><br>




