@import "~bootstrap/dist/css/bootstrap.css";
*{
  color:#dec074;
  margin-left:0;
}

.main-background{
  background-color: black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding:0;
}

#card1 {
  width: 400px;
  border: none;
  background-color:rgb(49, 48, 48);
  padding:3px;
}

.form-select{  
  width:175px;
  height:35px;
}

#form1{
  background-color:#dec074;
  color:black;
  margin-left:30px;
  font-size:200;
  border:none;
  border-radius:5px;
  
}

#form1 option{
  color:black;
  
}

.form-select:focus {
  background-color: #8bbafe;
  outline: 0;
  box-shadow: none
}

.graphic {
  background-color: blue;
  border: 1px solid blue
}

.graphic:hover {
  background-color: blue;
  border: 1px solid blue
}

.code {
  background-color: red;
  border: 1px solid red
}

.code:hover {
  background-color: red;
  border: 1px solid red
}

.team-button button {
  font-size: 12px;
  width: 180px;
  height: 40px
}

.team-projects span {
  font-size: 12px;
  width: 180px;
  height: 40px;
  border: 1px solid #d4d2d2;
  padding: 10px;
  background-color: #eee;
  border-radius: 4px;
  padding-left: 23px;
  padding-right: 23px
}
#voucher {
  margin-left:30px;
  
}

.login-block {
  margin: 30px auto;
  min-height: 93.6vh
}

.login-block .auth-box {
  margin: 20px auto 0;
  max-width: 450px !important
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: rgb(34, 31, 31);
  margin-top:0px;
  
}

.card .card-block {
  padding: 1.25rem;
  
}
.col-sm-12{
  margin-top:0;
}
.f-80 {
  font-size: 80px
}

.form-group {
  margin-bottom: 1.25em
}

.form-primary .form-control {
  display: inline-block;
  height: 43px;
  width: 100%;
  border-radius: 10px;
  border-color: #dec074;
  font-size: 16px;
  font-weight: 400;
  padding: 9px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color:white;
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px
}

.btn-primary {
  background-color: #4099ff;
  border-color: #4099ff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s
}

.btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
  margin-right:10px;
}

.m-b-20 {
  margin-bottom: 20px
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px
}

.heading {
  font-size: 21px
}

#infoMessage p {
  color: red !important
}

.btn-google {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd
}

.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 25px 0
}

.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center
}
#password{
  text-align:left;
  color:white;
}
.fa-angle-right{
  float:right;
  color:#dec074;
  font-weight:1000
}
#save{
  width:100%;
  background-color:#dec074;
  color:black;
  border:none;
  border-radius:10px;
}
::placeholder{
  color:pink;
}
.main-container{
  padding-top:0;
  margin-top:0;
}
#query{
  background-color:white;
}
.form-primary{
  position:relative;
}
.form-primary #rm{
  position:absolute;
  display:block;
  top:50%;
  pointer-events:none;
}
.modal-body{
  background-color:rgb(49, 48, 48);
  color:#dec074;
}
.form-control{
  background-color: rgb(34, 31, 31);
  color:#dec074;
  border-color:#dec074;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dec074;
  opacity: 1; /* Firefox */
}
.modal-footer{
  background-color:rgb(49, 48, 48);
  border-top-color:transparent;
}
.modal-footer .btn{
  background-color:#dec074;
  color:black;
  border:none;
  border-radius:10px;
}
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}
select{
  width:100%;
  height:50px;
  background-color:transparent;
  border-color:#dec074;
  padding-left:5px;
  font-size:16px;
  border-radius: 10px;
}
/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #dec074;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
#avatar{
  border-color:white;
  color:#dec074;
}
.panel-body{
  margin-bottom:14px;
}
.validation {
  font-weight: 500;
  font-size: 1.1em;
  color: rgb(255, 0, 0) !important;
}

.row{
  --bs-gutter-x: 0rem;
}

