<div class="row">
  <div class="col-auto pr-0">
    <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
      <i class="bi bi-arrow-left"></i>
    </a>
  </div>
  <div class="col text-center align-self-center px-0">
      <h2 style="color: #dec074; padding-top: 10px;"> FAQs </h2>
  </div>
  <div class="col-auto align-self-center">
      <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
          <i class="bi bi-house"></i>
      </a>
      <a routerLink="/profile" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
          <i class="bi bi-person"></i>
      </a>
  </div>
</div>

<div class="row mb-4 h-190 position-relative text-white top-20">
    <div class="col-12 col-md-6 col-lg-4 mx-auto align-self-center" style="background-color: transparent;">
        <h4 class="text-center mb-2">Frequently Asked Questions</h4>
        <p class="text-center text-muted small">Search your questions here.</p>
            <div class="searchbar mb-3">
              <form role="search" id="form">
                  <input type="search" id="query" name="searchInput" [(ngModel)]="searchFaq" placeholder="Search "
                  autocomplete="off" aria-label="Search through site content" style="all: unset;
                  font: 16px system-ui;
                  color: #fff;
                  height: 100%;
                  width: 100%;
                  padding: 6px 10px;">
            
            <button style="background-color: transparent;outline: none;border: none;">
              <svg viewBox="0 0 1024 1024">
                <path class="path1"
                  d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                </path>
              </svg>
            </button>
              </form>
            </div>
    </div>
</div>

<cdk-accordion class="example-accordion">
    <cdk-accordion-item
      *ngFor="let faq of mcfaqArr | searchFaq : searchFaq; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        {{ faq['question'] }}
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index" [innerHTML]="faq['answer']">
        {{faq['answer']}}
      </div>
    </cdk-accordion-item>
  </cdk-accordion>


