@import "~bootstrap/dist/css/bootstrap.css";
*{
  color:#dec074;
  margin-left:0; 
}

.main-background{
  background-color: black
}

body {  
  font-family: Arial, Helvetica, sans-serif;
}
 
.topnav {
  position: relative;
  overflow: hidden;
}
 
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
 
.topnav a.active {
  color: #dec074;
}
 
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
.topnav-right {
  float: right;
}
 
.table-responsive{
  text-align:center;
  display:block;  
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  overflow:hidden;
}

/* Create an active/current tablink class */
.nav-item.active{
  background-color:#dec074;
}

/* Style the tab content */
.nav-tabs .nav-link{
  background-color: black;
  color: white ;
}

* {
  box-sizing: border-box;
}
  
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
  
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:#dec074;
}

.form-group label{
  color:#dec074;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
  
input[type=submit]:hover {
  background-color: #45a049;
}
  
.container {
  border-radius: 5px;
  padding:0;  
}

.panel-body{
  margin-top:22px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
form{
  margin-left:2px;
  margin-right:2px;
}
#submit{
  margin-top:70px;

}
#form{
  padding:15px;
}

#submit123{
  width:100%;
  border-color:#dec074;
  background-color: #dec074;
  color: #2c2c2c;;
}

.form-control{
  background-color:black;
  color:white;
  border-color:#dec074;
}

label{
  color:white;
}

option{
  color:white;
}

.fa-caret-down{
  color:white;
}

.form-col{
  background-color:rgb(36, 34, 34);
  color:#dec074;
  border-color:#dec074;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}
  
/* skin.css Style*/
.upload-drop-zone {
  color: #dec074;
  border-style: dashed;
  border-color: #dec074;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.div{
  background-image: url("../../../../assets/img/chickenburger.jpg");
  background-repeat:no-repeat;
}

// radio
#dvtext {
  display: none;
}
#chkYes:checked ~ #dvtext {
  display: block;
}
.validation {
  font-weight: 500;
  font-size: 1.1em;
  color: rgb(255, 0, 0) !important;
}