<div class="row" >
    <div class="col-auto pr-0">
        <a routerLink="/myaccount" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
            <i class="bi bi-arrow-left"></i>
        </a>
    </div>
  </div>
<br><br>

<div class="container">
    <div class="outer">      
        <img id="newimg" src="{{ url }}" >
        <img id="ogimg" src="data:{{onmerchant['thumbnailType']  }};base64,{{ onmerchant['thumbnail']}}" alt="">
      <div class="inner"> 
        <input class="inputfile" name="file" type="file" accept="image/png, image/jpeg" [(ngModel)]='onmerchant.thumbnail' (change)="onselectFile($event)"/>      
        <label><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg></label>
      </div>
    </div>
</div>

<!-- profile information -->
<div class="row" style="align-self: center; margin: 0px 10px ; background-color: black;" >
<div class="row">
    <div class="col">
        <h3 style="color: #dec074;">Basic Information</h3>
    </div>
</div>
<div class="row h-100 mb-4" >
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating  mb-3" >
            <input [(ngModel)]='onmerchant.merchanttype'style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;" type="text" class="form-control" placeholder="Name" name="names" id="profile_name">
            <label for="names">Merchant Type</label>
            
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating  mb-3">
            <input type="text" class="form-control" hidden>
            <input type="text" class="form-control"  name="email" [(ngModel)]='onmerchant.email' style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label for="emailaddress">Email Address</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating  mb-3">
            <input type="text" id="profile_contact" class="form-control"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;"
                name="phone" [(ngModel)]='onmerchant.contact' >
            <label for="phone">Contact Number</label>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <h3 style="color: #dec074;">Social Media </h3>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input id="profile_tiktok" type="text" class="form-control" name="address1"  [(ngModel)]='onmerchant.tiktok'  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label class="form-control-label" for="address1"> Tiktok</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input id="profile_twitter" type="text" class="form-control" name="address1"  [(ngModel)]='onmerchant.twitter'  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label class="form-control-label" for="address1"> Twitter</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input id="profile_ig" type="text" class="form-control" name="address1"   [(ngModel)]='onmerchant.ig'  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label class="form-control-label" for="address1"> Instagram</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input id="profile_linkedin" type="text" class="form-control" name="address2"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;"
            [(ngModel)]='onmerchant.linkedin' >
            <label class="form-control-label" for="address2">LinkedIn</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input id="profile_fb" type="text" class="form-control" name="address3"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;" [(ngModel)]='onmerchant.fb' >
            <label class="form-control-label" for="address3">Facebook</label>
        </div>
    </div>
</div>


<!-- add edit address form -->
<div class="row mb-2">
    <div class="col">
        <h3 style="color: #dec074;">Company Information</h3>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input id="profile_companyname" type="text" class="form-control" name="address1" [(ngModel)]='onmerchant.companyname'  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label class="form-control-label" for="address1"> Company Name</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input id="profile_regno" type="text" class="form-control" name="address1" [(ngModel)]='onmerchant.regno'  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
            <label class="form-control-label" for="address1"> Registration Number</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input  id="profile_address" type="text" class="form-control" name="address2"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;"
            [(ngModel)]='onmerchant.address'  >
            <label class="form-control-label" for="address2">Address</label>
        </div>
    </div>
  
</div>


    <div class="row mb-2">
        <div class="col">
            <h3 style="color: #dec074;">Bank Accounts</h3>
        </div>
    </div>
    <div class="row h-100 mb-4" style="background-color: black;border-color: #dec074;">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating  mb-3" >
                <input  id="profile_bankacc" type="text" class="form-control" [(ngModel)]='onmerchant.bankacc'  name="names"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
                <label for="names">Bank Account</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating   mb-3">
                <input  id="profile_bankname" type="text" class="form-control" [(ngModel)]='onmerchant.bankname' name="usernames"  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;">
                <label for="Usernames">Bank Name</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating  mb-3">
                <input  id="profile_swiftcode" type="text" class="form-control" [(ngModel)]='onmerchant.swiftcode'  style="background-color: transparent; box-shadow: 0px 2px 10px #dec074;color: white;"
                    name="emailaddress">
                <label for="emailaddress">Swift Code</label>
            </div>
        </div>
    </div>

<div class="row h-100 mb-4">
    <div class="col-12 d-grid" ><a  (click)="editMerchant()" target="_self" class="btn btn-default mt-3" style="background-color: #dec074; color: black;">Save Profile</a></div>
</div>

</div>


