<div class="row" >
  <div class="col-auto pr-0">
      <button type="button" style="background-color: transparent;outline: none;border: none;color: #dec074;"  class="btn btn-link back-btn" (click)="backnav()">
          <i class="bi bi-arrow-left"></i>
      </button>
  </div>
  <div class="col text-center align-self-center px-0">
      <h2 style="color: #dec074; padding-top: 10px;">Add Product</h2>
  </div>
  <div class="col-auto align-self-center">
      <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
          <i class="bi bi-house"></i>
      </a>
      <a routerLink="/profile" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
          <i class="bi bi-person"></i>
      </a>
  </div>
</div>


  <div id="form" style="background-color: black;">
    <form action="" method="post">

      <div class="form-group mb15">
        <label for="exampleInputPassword1">Product Name</label>

        <input type="text" class="form-control" id="exampleInputPassword1" name="name" id="name12" value=""
          [(ngModel)]="product.name" placeholder="Name of product" style="border-color: #dec074;" autocomplete="off"
          maxlength="21">
        <p class="validation">{{ valid['name'] }}</p>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Upload Photo</label>
        <input type="file" class="form-control" (change)=onselectFile($event); id="avatar" name="avatar"
          [(ngModel)]="product.thumbnail" accept="image/png, image/jpeg" style="margin-bottom:3px">
      </div>

      <div class="container">
        <div class="panel panel-default">

          <div class="panel-body">

            <label style="color:#dec074">Image Preview :</label>
            <img [src]="url" style="width: 100%; object-fit: cover;">

            <!-- Progress Bar -->


            <!-- Upload Finished -->

          </div>
        </div>
      </div> <!-- /container -->



      <div class="form-group">
        <label for="exampleInputEmail1">Product description</label>
        <textarea id="productdesc" rows="5" name="description" id="description" value="" class="form-control"
          [(ngModel)]="product.description">lorem secriptio canner </textarea>
        <p class="validation">{{ valid['description'] }}</p>

      </div>



      <div class="form-group">
        <label> Categories </label>
        <select class="form-col" id="#foodcategories" value="" name="foodcategories" [(ngModel)]="product.categories">

          <option selected disabled>Food categories</option>
          <ng-container *ngFor="let category of categoryArr ">
            <option value="{{category['category']}}"> {{category['category']}}
            </option>

          </ng-container>
        </select>
        <p class="validation">{{ valid['categories'] }}</p>
      </div>




      <div class="form-group">
        <label for="exampleInputPassword1">Price</label>
        <input type="text" class="form-control" id="price" name="price" value="" placeholder="Please set product price"
          [(ngModel)]="product.price" style="border-color: #dec074;" autocomplete="off">

        <p class="validation">{{ valid['price'] }}</p>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Terms and conditions</label>
        <input type="text" class="form-control" name="tnc" [(ngModel)]="product.tnc"
          style="border-color: #dec074;" autocomplete="off">
        <p class="validation">{{ valid['tnc'] }}</p>
      </div>

      <label for="chkYes" style="color: #dec074;">Add to Redemption</label>
      <input type="radio" id="chkYes" name="chk" />

      <div id="dvtext">
        <input type="number" class="form-control" id="txtBox" name="redemp" value="" placeholder="Please set max Points"
          [(ngModel)]="product.redemp" style="border-color: #dec074;" autocomplete="off">
      </div>





      <div class="row">

        <div class="col-md-12"> <input type="submit"
            class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 mt-5"
            data-bs-toggle="modal" style="font-size:16px!important;" data-bs-target="#taskmodal2"
            name="submit" value="Save" id="save" (click)='sendData()' routerLink="/product">
        </div>
      </div>
    </form>
  </div>

  