<div class="row h-50">
       <div class="covering position-absolute start-0" style="opacity: 10%;top: 20%;height: 70%">
        <img src="assets/img/logox.png" 
        style="height: 80%; width: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
    </div>
        <div class="image-box__overlay">
            <div class="row" style="margin-top: 200px;">
                <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto mt-auto pt-4 text-center">
        <h2 class="mb-1">New password</h2>
        <p class="mb-4">Now you can set new password for <br>your account</p>
        <form class=" d-grid gap-2">
            <div class="form-group form-floating is-valid">
                <input type="password" class="form-control-sm" id="password" name="password"  [(ngModel)]="merchantuser.pwd" placeholder="Enter the new password" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group form-floating is-invalid">
                <input type="password" class="form-control-sm" id="confirmpwd" name="confirmpwd"[(ngModel)]="merchantuser.cfmpwd" placeholder="Confirm password" [ngModelOptions]="{standalone: true}">
            </div>
            <a (click)="sendData()"  class="btn">Reset Password</a>
        </form>
    </div>
    </div>
    </div>
</div>
