<!-- Different Events  -->
<!DOCTYPE html>
<html>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

<!-- Top Navigation Menu -->

<body>
  <div class="row" >
    <div class="col-auto pr-0">
      <a routerLink="/outletlist" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
        <i class="bi bi-arrow-left"></i>
      </a>
    </div>
  </div>

  <div class="topnav">
    <div class="topnav-centered row">
      <a href="#home" class="active">Add Your Outlet Here</a>
    </div>
  </div>


  <div id="form">
    <form action="" method="post">

      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-pin-map" style="color: #dec074;"></i> Outlet Address</label>

        <input type="text" value="{{editmoutlet['address'] }}" class="form-control" 
          (keydown.enter)="$event.preventDefault()" id="address" [(ngModel)]="editmoutlet.address" name="address"     value="{{editmoutlet['address'] }}"
          placeholder="" style="border-color:#dec074;" autocomplete="off" autocorrect="off" autocapitalize="off"
          spellcheck="off" type="text" #search>
          <p class="validation">{{ valid['address'] }}
      </div>

      <div class="form-group">
        <label for="uploadphoto">Upload Photo</label>
        <input type="file" class="form-control" (change)=onselectFile($event); name="file"
          accept="image/png, image/jpeg" style="margin-bottom:3px" >
        <br>
        <label>Image Preview </label>
        <img id="newimg" src="{{ url }}" style="width:100%;object-fit: cover;" />
        <img id="ogimg" src="data:{{ imagetype }};base64,{{ image }}" style="width:100%;object-fit: cover;" />
      </div>


      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-whatsapp" style="color: #dec074;"> Outlet Name</i></label>

        <input type="text" class="form-control" name="name2" id="moutletname" [(ngModel)]="editmoutlet.shopname"

          value="{{editmoutlet['shopname'] }}" placeholder="" style="border-color:#dec074; " autocomplete="off" maxlength="20">
          <p class="validation">{{ valid['shopname'] }}
      </div>

      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-telephone" style="color: #dec074;"> Contact
            number</i></label>

        <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="editmoutlet.phone" name="name3"
          id="contact" value="{{editmoutlet['phone'] }}" placeholder="" style="border-color:#dec074;" autocomplete="off"
          maxlength="18" [pattern]="contactPattern" #contact="ngModel">
          <div *ngIf="contact.errors?.pattern" style="color:red;font-size: 1.1em;">
            *Invalid contact number.
          </div>
          <p class="validation">{{ valid['phone'] }}
      </div>

      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-whatsapp" style="color: #dec074;"> Whatsapp
            number (+60XX-XXXXXXXX)</i></label>

        <input type="text" class="form-control" id="exampleInputPassword1" name="name4" id="whatsapp"
          [(ngModel)]="editmoutlet.whatsapp" value="{{editmoutlet['whatsapp'] }}" placeholder=""[pattern]="whatsappPattern" #whatsapp="ngModel"
          style="border-color:#dec074;" autocomplete="off" maxlength="18">
          <div *ngIf="whatsapp.errors?.pattern" style="color:red;font-size: 1.1em;">
            *Invalid whatsapp number.
          </div>
          <p class="validation">{{ valid['whatsapp'] }}
      </div>

      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-envelope" style="color: #dec074;" name="" value=""
            id="email"> Email Address</i></label>

        <input type="text" class="form-control" id="exampleInputPassword1" name="name5" id="email123"
          [(ngModel)]="editmoutlet.email" value="{{editmoutlet['email'] }}" placeholder="" style="border-color:#dec074;" [pattern]="emailPattern" #email="ngModel"
          autocomplete="off" maxlength="18">
          <div *ngIf="email.errors?.pattern" style="color:red;font-size: 1.1em;">
            *Invalid email.
          </div>
          <p class="validation">{{ valid['email'] }}
      </div>

      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-card-checklist" style="color: #dec074;"></i> Max booking per
          day</label>

        <input type="text" class="form-control" id="exampleInputPassword1" name="name6" id="booking"
          value="{{editmoutlet['originalslot'] }}" placeholder="" style="border-color:#dec074;" [(ngModel)]="editmoutlet.originalslot" [pattern]="originalslotPattern" #originalslot="ngModel"
          autocomplete="off">
          <div *ngIf="originalslot.errors?.pattern" style="color:red;font-size: 1.1em;">
            *Invalid slot.
          </div>
          <p class="validation">{{ valid['originalslot'] }}
      </div>
      
      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-card-checklist" style="color: #dec074;"></i> State</label>

        <input type="text" class="form-control" id="exampleInputPassword1" name="name" id="name12" value="{{editmoutlet['state'] }}"
          placeholder="" style="border-color:#dec074;" [(ngModel)]="editmoutlet.state" autocomplete="off">
          <p class="validation">{{ valid['state'] }}
      </div>
      <div class="form-group mb15">
        <label style="color:#dec074">Business Day (Start) *</label>
        <select class=" form-control" type="time" [(ngModel)]="editmoutlet.operateday1" id="operateday1"
          name="operateday1" value="{{editmoutlet['operateday1'] }}">
          <option value="Sunday">Sunday</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
        </select>
      </div>
      <div class="form-group mb15">
        <label style="color:#dec074">Business Day (End) *</label>
        <select class=" form-control" type="time" [(ngModel)]="editmoutlet.operateday2" id="operateday2"
          name="operateday2" value="{{editmoutlet['operateday2'] }}">
          <option value="Sunday">Sunday</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
        </select>
      </div>

      <label style="color:#dec074">Operating Hours (Start) *</label>
      <input name="operatehrsstart" [(ngModel)]="editmoutlet.operatehrsstart" class=" form-control" type="time"
        value="{{editmoutlet['operatehrsstart'] }}" />
        <p class="validation">{{ valid['operatehrsstart'] }}
      <label style="color:#dec074">Operating Hours (End) *</label>
      <input name="operatehrsend" [(ngModel)]="editmoutlet.operatehrsend" class=" form-control" type="time"
        value="{{editmoutlet['operatehrsend'] }}" />
        <p class="validation">{{ valid['operatehrsend'] }}
      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-card-text" style="color: #dec074;"> description</i></label>
        <textarea id="w3review" name="w3review" rows="4" cols="50" [(ngModel)]="editmoutlet.description"
          value="{{editmoutlet['description'] }}"></textarea>
          <p class="validation">{{ valid['description'] }}
      </div>

      <div class="row" >
        <div class="col-md-12">
          <a routerLink="/outletlist"
           class="btn btn-link"  id="submit123"
           (click)="uploadmoutlet(editmoutlet)" style="text-decoration-line:none">Save
          </a>
        </div>
      </div>
    </form>
  </div>

  <div class="modal fade" id="taskmodal2" tabindex="-1" aria-labelledby="taskmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content  border-0">

        <div class="modal-body">
          <h2>Successfully added!</h2>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary d-block w-100" routerLink="/payment">OK</button>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>