<!-- Different Events  -->
<!DOCTYPE html>
<html>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

<!-- Top Navigation Menu -->
<body>

  <div class="topnav">
    <a href="#home" class="active">Add Your Outlet Here</a>
  </div>


  <div id="form" class="h-100">
    <form action="" method="post">
      <div class="form-group mb15">
        <label for="address"><i class="bi bi-pin-map" style="color: #dec074;"></i> Outlet Address</label>
        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" id="address"
          [(ngModel)]="moutlet.address" name="address" placeholder="" style="border-color:#dec074;" autocomplete="off"
          autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      </div>


      <div style="color: white; display: none;">
        <div>Latitude: {{latitude}}</div>
        <div>Longitude: {{longitude}}</div>
      </div>
      <div class="form-group">
        <label for="uploadphoto">Upload Photo</label>
        <input type="file" class="form-control" id="image1" id="avatar" name="file" (change)="onselectFile($event)"
          accept="image/png, image/jpeg" style="margin-bottom:3px">
      </div>

      <div class="container">
        <div class="panel panel-default">

          <div class="panel-body form-group">

            <p style="font-size:14px;margin-bottom:0">Image Preview </p>
            <img [src]="url" height="200" width="100%" style="border-color:gold;">

            <!-- Progress Bar -->


            <!-- Upload Finished -->

          </div>
        </div>
      </div> <!-- /container -->
      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="fa fa-id-card-o" style="color: #dec074;"> Outlet Name</i></label>

        <input type="text" class="form-control" id="exampleInputPassword1" name="name" id="name"
          [(ngModel)]="moutlet.shopname" value="" placeholder="" style="border-color:#dec074;" autocomplete="off">
        <p class="validation">{{ valid['shopname'] }}</p>
      </div>

      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-telephone" style="color: #dec074;"> Contact
            number</i></label>

        <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="moutlet.phone" name="name"
          id="name12" value="" placeholder="" style="border-color:#dec074;" autocomplete="off" [pattern]="contactPattern" #contact="ngModel">
          <div *ngIf="contact.errors?.pattern" style="color:red;font-size: 1.1em;">
            *Invalid contact number.
          </div>
        <p class="validation">{{ valid['phone'] }}</p>
      </div>

      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-whatsapp" style="color: #dec074;"> Whatsapp
            number</i></label>

        <input type="text" class="form-control" id="exampleInputPassword1" name="name" id="name12"
          [(ngModel)]="moutlet.whatsapp" value="" placeholder="" style="border-color:#dec074;" autocomplete="off" [pattern]="whatsappPattern" #whatsapp="ngModel">
          <div *ngIf="whatsapp.errors?.pattern" style="color:red;font-size: 1.1em;">
            *Invalid whatsapp number.
          </div>
        <p class="validation">{{ valid['whatsapp'] }}</p>
      </div>

      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-envelope" style="color: #dec074;" name="" value=" "> Email
            Address</i></label>

        <input type="text" class="form-control" id="exampleInputPassword1" name="name" id="name12"
          [(ngModel)]="moutlet.email" value="" placeholder="" style="border-color:#dec074;" autocomplete="off" [pattern]="emailPattern" #email="ngModel">
          <div *ngIf="email.errors?.pattern" style="color:red;font-size: 1.1em;">
            *Invalid email.
          </div>
        <p class="validation">{{ valid['email'] }}</p>
      </div>
      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-card-checklist" style="color: #dec074;"></i> Max booking per
          slot</label>

        <input type="text" class="form-control" id="exampleInputPassword1" name="name" id="name12" value=""
          placeholder="" style="border-color:#dec074;" [(ngModel)]="moutlet.slot" autocomplete="off">
        <p class="validation">{{ valid['slot'] }}</p>
      </div>

      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-card-checklist" style="color: #dec074;"></i> State</label>

        <input type="text" class="form-control" id="exampleInputPassword1" name="state" id="name212" value=""
          placeholder="" style="border-color:#dec074;" [(ngModel)]="moutlet.state" autocomplete="off">

      </div>
      <label style="color:#dec074">Business Day (Start) *</label>
      <select class=" form-control" type="time" [(ngModel)]="moutlet.operateday1" id="operateday1" name="operateday1">
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
      </select>
      <p class="validation">{{ valid['operateday1'] }}</p>
      <label style="color:#dec074">Business Day (End) *</label>
      <select class=" form-control" type="time" [(ngModel)]="moutlet.operateday2" id="operateday2" name="operateday2">
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
      </select>
      <p class="validation">{{ valid['operateday2'] }}</p>
      <label>Operating Hours (Start) *</label>
      <input name="operatehrsstart" [(ngModel)]="moutlet.operatehrsstart" class=" form-control" type="time" />
      <p class="validation">{{ valid['operatehrsstart'] }}</p>
      <label>Operating Hours (End) *</label>
      <input name="operatehrsend" [(ngModel)]="moutlet.operatehrsend" class=" form-control" type="time" />
      <p class="validation">{{ valid['operatehrsend'] }}</p>


      <div class="form-group mb15">
        <label for="exampleInputPassword1"><i class="bi bi-card-text" style="color: #dec074;"> description</i></label>

        <textarea id="w3review" name="w3review" rows="4" cols="50" [(ngModel)]="moutlet.description">

                  </textarea>
        <p class="validation">{{ valid['description'] }}</p>

      </div>


      <div id="submit">
        <button type="submit" id="submit123" class="btn btn-primary" width="40px" (click)='sendData()'>Save</button>
      </div>
    </form>
  </div>

  <div class="modal fade" id="taskmodal2" tabindex="-1" aria-labelledby="taskmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content  border-0">


        <div class="modal-body">
          <h2>Successfully added!</h2>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary d-block w-100" (click)="backto()">OK</button>
        </div>
      </div>
    </div>
  </div>



</body>

</html>
