<div class="row" style="height:100%">
  <div class="col-12 position-relative px-0 ">
      <div class="row mb-4" style="height: 200px;">
          <div class="col-12 py-4">
              <div class="coverimg position-absolute top-0 start-0 w-100" 
              style="
              height: 240px;
              background-image:url('assets/img/voucher.png')">
                  <img src="assets/img/voucher.png" alt="">
              </div>
          </div>
      </div>
      
      <div class="container-fluid" style="height: max-content">
          <div style="border-bottom: 6px solid gray; width: 30%; margin: auto"></div>
        <div class="col-12 ">
              <br>
              <h2 style="color: black; font-size: 25px;">Voucher Name</h2><span>
                  <h2 class="text-muted">code</h2></span>

              
              <div class="row mb-4">
                  <div class="col-12">
                      <div class="mb-1">
                          <p>Expiry Date</p>
                            <p>Discount %</p>
                           <p>Total Voucher: 100</p>
                           <p class="text-muted" routerlink="/">Edit</p>
                  

                      </div>
                  </div>
              </div>
              <h2 style="color: black; font-size: 25px;">How to redeem?</h2>
              <div class="row ">
                  <div class="col-12">
                      <h4><b>Terms & Conditions</b></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                      </p>    
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                      </p>   
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                      </p>   
                      
                        
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>