:host zxing-scanner::ng-deep video {
    max-height: 50vh;   
    max-width:75%;
    text-align:center; 
    object-fit: contain;
    position:absolute;
    right:45px;
    top:30%;
   
}

::ng-deep video{
    text-align: center;
    border-color:#dec074
}
.title{
    text-align:center;
    color:#dec074
}
.row{
    --bs-gutter-x: 0rem;
  }
  