<div class="row" >
    <div class="col-auto pr-0">
        <button type="button" style="background-color: transparent;outline: none;border: none;color: #dec074;"  class="btn btn-link back-btn" (click)="backnav()">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
    <div class="col text-center align-self-center px-0">
        <h2 style="color: #dec074; padding-top: 10px;">Member Data</h2>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
            <i class="bi bi-house"></i>
        </a>
        <a routerLink="/profile" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
            <i class="bi bi-person"></i>
        </a>
    </div>
  </div>

        <div class="searchbar mb-3">
            <form role="search" id="form">
                <input type="search" id="query" name="searchInput" [(ngModel)]="searchInput" placeholder="Search the member"
                autocomplete="off" aria-label="Search through site content" style="all: unset;
                font: 16px system-ui;
                color: #fff;
                height: 100%;
                width: 100%;
                padding: 6px 10px;">
          
          <button style="background-color: transparent;outline: none;border: none;">
            <svg viewBox="0 0 1024 1024">
              <path class="path1"
                d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
              </path>
            </svg>
          </button>
            </form>
          </div>

        <div class="row mb-2">
            <div class="col">
                <i style="margin-inline-start: 20px; font-size: 20px; color: #dec074;  font-style: normal;">Top
                    Members</i>

            </div>
        </div>

        <div class="row" style="margin-left: 5px;margin-right: 5px;">
            <div class="col-12 col-md-6">

                <ng-container *ngFor="let member of pointsgivenArray | searchmember : searchInput ">

                    <ul class="card-body" style="margin:0px 10px; border-radius: 20px; text-align-last: center;" data-bs-toggle="modal"
                        data-bs-target="#taskmodal" type="button">
                        <li class="row ">
                            <div class="col align-self-center">
                                <p
                                    style="font-size: large; align-items: center; margin-bottom: 12px; font-weight: lighter; letter-spacing: 1px;">
                                    {{member.membername}}</p>
                            </div>
                            <div class="col align-self-center" style="margin-inline-end: 10px;">
                                <h1 style="color: white;margin-bottom:0"> {{member.totalget}}</h1>
                                <small style="color: rgb(16, 154, 9);"> Collected</small>
                            </div>
                        </li>
                    </ul>


                </ng-container>
            </div>
        </div>