/*
.left {
    width: 40%;
    padding-right: 5px;
  }
  
  .right {
    width: 60%;
    padding-left: 5px;
  }
  
  /* Clear floats after the columns */
  /*.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card-body{
      color: #dec074;
      background-color: #2c2c2c;
      border-radius: 20px;
      border: none;
      margin: 15px 5px;
  }

.card{
    margin: 15px 5px;
    border-radius: 20px;

}
*/
