<div class="row">
    <div class="col-auto pr-0">
        <button type="button" style="background-color: transparent;outline: none;border: none;color: #dec074;"  class="btn btn-link back-btn" (click)="backnav()">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
    <div class="col text-center align-self-center px-0">
        <h2 style="color: #dec074; padding-top: 10px;"> Voucher List</h2>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
            <i class="bi bi-house"></i>
        </a>
        <a routerLink="/profile" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
            <i class="bi bi-person"></i>
        </a>
    </div>
</div>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Top Navigation Menu -->
<div class="searchbar mb-3">
    <form role="search" id="form" >
        <input type="search" id="query" name="searchInput" [(ngModel)]="searchInput" placeholder="Search the voucher"
            autocomplete="off" aria-label="Search through site content">
        <button> 
            <svg viewBox="0 0 1024 1024">
                <path class="path1" 
                    d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                </path>
            </svg>
        </button>
    </form>
</div>

<div class="row">
    <div class="row" style="width: 100%; margin: 0;margin-top: 5px;">
        <div class="col-12 mb-3 px-0">
            <mat-tab-group mat-align-tabs="start">

                <mat-tab label="Ongoing">
                    <article>
                        <ng-container *ngFor="let onvoucher of onvoucherArr | searching : searchInput">
                            <div class="col-12">

                                <div class="container d-flex justify-content-center row" style="padding-right:0px;">
                                    <ul class="list-group " style="padding:0px">
                                        <li class="card p-2 card-1 rounded mb-2 d-flex " id="card2" style="width:100%">
                                            <div class="d-flex flex-row ">
                                                <img src="data:{{ onvoucher['thumbnailType']}};base64,{{ onvoucher['thumbnail'] }}"
                                                    width="80" height="65" style="object-fit: cover;" />
                                                <div class="ml-2">
                                                    <div class="col-auto">
                                                        <div class="text-left">

                                                            <button class="btn btn-link caret-none dropdown-toggle px-0"
                                                                type="button" id="moredd1" data-bs-toggle="dropdown"
                                                                aria-expanded="false">
                                                                <i class="fa fa-ellipsis-v"
                                                                    style="font-size:24px;color:#dec074;"></i>
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="moredd1">
                                                                <li><a class="dropdown-item"
                                                                        (click)=detail(onvoucher)>Details</a></li>
                                                                <li><a class="dropdown-item"
                                                                        (click)=edit(onvoucher)>Edit</a></li>
                                                                <li><a class="dropdown-item " data-bs-toggle="modal"
                                                                        data-bs-target="#taskmodal"
                                                                        name="{{onvoucher['_id']}}"
                                                                        id="deletebtn_{{onvoucher['_id']}}"
                                                                        (click)="Transfer(onvoucher['_id'])">Delete</a>
                                                                </li>
                                                            </ul>
                                                            <div class="mb-1  font-weight-bold row">

                                                                <p>{{onvoucher['title']}}</p>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-auto text-left ml-auto ">

                                                        <h6 style="font-size: 15px;">Left : {{onvoucher['quantity']}}</h6>
                                                        <h6 style="color:grey;font-size: 13px;">{{onvoucher['sdate']}} -
                                                            {{onvoucher['edate']}}</h6>


                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </ng-container>
                    </article>
                </mat-tab>

                <mat-tab label="Upcoming">
                    <article>
                        <ng-container *ngFor="let upvoucher of upvoucherArr | searching : searchInput">

                            <div class="container d-flex justify-content-center row" style="padding-right:0px;">
                                <ul class="list-group " style="padding:0px">


                                    <li class="card p-2 card-1 rounded mb-2 d-flex " id="card2" style="width:100%">
                                        <div class="d-flex flex-row ">
                                            <img src="data:{{ upvoucher['thumbnailType']}};base64,{{ upvoucher['thumbnail']}}"
                                                width="80" height="65" style="object-fit: cover;" />
                                            <div class="ml-2">
                                                <div class="col-auto">
                                                    <div class="text-left">

                                                        <button class="btn btn-link caret-none dropdown-toggle px-0"
                                                            type="button" id="moredd1" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v"
                                                                style="font-size:24px;color:#dec074;"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="moredd1"
                                                            style="transform: translate3d(179px, 57px, 0px);">
                                                            <li><a class="dropdown-item"
                                                                    (click)=detail(upvoucher)>Details</a></li>
                                                            <li><a class="dropdown-item"
                                                                    (click)=edit(upvoucher)>Edit</a></li>
                                                            <li><a class="dropdown-item " data-bs-toggle="modal"
                                                                    data-bs-target="#taskmodal"
                                                                    name="{{upvoucher['_id']}}"
                                                                    id="deletebtn_{{upvoucher['_id']}}"
                                                                    (click)="Transfer(upvoucher['_id'])">Delete</a></li>
                                                        </ul>
                                                        <div class="mb-1  font-weight-bold row">

                                                            <p>{{upvoucher['title']}}</p>

                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-auto text-left ml-auto ">

                                                    <h6 style="font-size: 15px;">Left : {{upvoucher['quantity']}}</h6>
                                                    <h6 style="color:grey;font-size: 13px;">{{upvoucher['sdate']}} -
                                                        {{upvoucher['edate']}}</h6>


                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>


                        </ng-container>

                    </article>



                </mat-tab>

                <mat-tab label="History">

                    <article>

                        <ng-container *ngFor="let hisvoucher of hisvoucherArr | searching : searchInput">

                            <div class="container d-flex justify-content-center row" style="padding-right:0px;">
                                <ul class="list-group " style="padding:0px">


                                    <li class="card p-2 card-1 rounded mb-2 d-flex " id="card2" style="width:100%">
                                        <div class="d-flex flex-row "> <img
                                                src="data:{{  hisvoucher['thumbnailType'] }};base64,{{ hisvoucher['thumbnail']  }}"
                                                width="80" height="65" style="object-fit: cover;" />
                                            <div class="ml-2">
                                                <div class="col-auto">
                                                    <div class="text-left">

                                                        <div class="btn btn-link caret-none dropdown-toggle px-0"
                                                            type="button" id="moredd1" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v"
                                                                style="font-size:24px;color:#dec074;"></i>
                                                        </div>
                                                        <ul class="dropdown-menu" aria-labelledby="moredd1">
                                                            <li><a class="dropdown-item"
                                                                    (click)=detail(hisvoucher)>Details</a></li>
                                                            <li><a class="dropdown-item"
                                                                    (click)=edit(hisvoucher)>Edit</a></li>
                                                            <li><a class="dropdown-item " data-bs-toggle="modal"
                                                                    data-bs-target="#taskmodal"
                                                                    name="{{hisvoucher['_id']}}"
                                                                    id="deletebtn_{{hisvoucher['_id']}}"
                                                                    (click)="Transfer(hisvoucher['_id'])">Delete</a>
                                                            </li>
                                                        </ul>
                                                        <div class="mb-1  font-weight-bold row">

                                                            <p>{{hisvoucher['title']}}</p>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto text-left ml-auto ">

                                                    <h6 style="font-size: 15px;">Left : {{hisvoucher['quantity']}}</h6>
                                                    <h6 style="color:grey;font-size: 13px;">{{hisvoucher['sdate']}} -
                                                        {{hisvoucher['edate']}}</h6>

                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>


                        </ng-container>



                    </article>


                </mat-tab>


            </mat-tab-group>
        </div>
    </div>
</div>
<br><br><br>
<a routerLink="/invoice" class="float">
    <i class="fa fa-plus my-float"></i>
</a>

<!-- Tab content -->


<div class="modal fade" id="taskmodal" tabindex="-1" aria-labelledby="taskmodal" aria-hidden="true"
    style="width:90%;margin-left:5%;margin-top:-3%; text-align: center;">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content  border-0">

            <div class="modal-body">
                <h3>Are you sure want to delete?</h3>
                <input type="text" value="" [(ngModel)]="voucher.title" id="voucher_name" hidden>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" id="yes" data-bs-dismiss="modal" (click)="DeleteVoucher(voucher)">Yes</button>
                <button type="button" class="btn btn-primary" id="no" data-bs-dismiss="modal" >No</button>
            </div>
        </div>
    </div>
</div>