.bt {
    background-color: #dec704;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 12px 16px;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
  }
 
  /* Darker background on mouse-over */
  .bt:hover {
    background-color: dimgrey;
    opacity: 0.3;
  }
