<!DOCTYPE html>
<html>
<meta charset="utf-8">

<div class="row" >
  <div class="col-auto pr-0">
      <button type="button" style="background-color: transparent;outline: none;border: none;color: #dec074;"  class="btn btn-link back-btn" (click)="backnav()">
          <i class="bi bi-arrow-left"></i>
      </button>
  </div>
  <div class="col text-center align-self-center px-0">
      <h2 style="color: #dec074; padding-top: 10px;">Create Event</h2>
  </div>
  <div class="col-auto align-self-center">
      <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
          <i class="bi bi-house"></i>
      </a>
      <a routerLink="/profile" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
          <i class="bi bi-person"></i>
      </a>
  </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

<!-- Top Navigation Menu -->
<body>

  <div class="container-fluid" style="height:100%;background-color: black;">
    <div class="row">
      <div class="col-sm-12">
        <div class="md-float-material form-material">
          <div class="auth-box card" style="height:100%;background-color: black;">
            <div class="card-block" style="height:100%;background-color: black;">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <h3 class="text-center heading">Create your event now</h3>
                </div>
              </div>


              <form action="" method="post">
                <div class="form-group">
                  <label for="uploadphoto">Upload Photo</label>
                  <input type="file" class="form-control" id="avatar" name="avatar" (change)="onselectFile($event)"
                    accept="image/png, image/jpeg" style="margin-bottom:3px" [(ngModel)]="event.thumbnail">
                </div>

                <div class="container">
                  <div class="panel panel-default">

                    <div class="panel-body form-group">

                      <label>Image Preview </label>
                      <img [src]="url" height="200" width="340" style="border-color:#dec074;">

                      <!-- Progress Bar -->
                      <!-- Upload Finished -->

                    </div>
                  </div>
                </div> <!-- /container -->
                <div class="form-group form-primary">
                  <label>Event Name</label>
                  <input type="text" class="form-control" [(ngModel)]="event.eventname" name="eventname" value=""
                    placeholder="Event Name" id="name" autocomplete="off">
                    <p class="validation">{{ valid['eventname'] }}</p>
                </div>

                <div class="form-group form-primary">
                  <label>Event Host</label>
                  <input type="text" class="form-control" [(ngModel)]="event.eventhost" name="eventhost" value=""
                    placeholder="Event host" id="name" autocomplete="off">
                    <p class="validation">{{ valid['eventhost'] }}</p>
                </div>
          
                <div class="form-group form-primary">
                  <label style="color: #dec074;" for="taskdate">Start Date</label>
                  <input type="date" name="sdate" class="form-control" id="tasksdate" value="" [(ngModel)]="event.sdate"
                    autocomplete="off">
                  <p class="validation">{{ valid['sdate'] }}</p>
                </div>

                <div class="form-group form-primary">
                  <label style="color: #dec074;" for="taskdate">End Date</label>
                  <input type="date" name="edate" class="form-control" id="taskedate" value="" [(ngModel)]="event.edate"
                    autocomplete="off">
                  <p class="validation">{{ valid['edate'] }}</p>
                </div>

                <div class="form-group form-primary">
                  <label style="color: #dec074;" for="taskdate">Start Time</label>
                  <input type="time" name="stime" class="form-control" id="taskstime" value="" [(ngModel)]="event.stime"
                    autocomplete="off">
                  <p class="validation">{{ valid['stime'] }}</p>
                </div>

                <div class="form-group form-primary">
                  <label style="color: #dec074;" for="taskdate">End Time</label>
                  <input type="time" name="etime" class="form-control" id="tasketime" value="" [(ngModel)]="event.etime"
                    autocomplete="off">
                  <p class="validation">{{ valid['etime'] }}</p>
                </div>

                <div class="form-group form-primary ">
                  <label>Amount (RM)</label>
                  <input type="text" class="form-control" [(ngModel)]="event.amount" name="price" value=""
                    placeholder="amount" id="" autocomplete="off" [pattern]="pricePattern"
                    #price="ngModel">
                    <div *ngIf="price.errors?.pattern" style="color:red;font-size: 1.1em;">
                      *Invalid Price.
                    </div>
                    <p class="validation">{{ valid['amount'] }}</p>
                </div>
                <div class="form-group form-primary ">
                  <label>Slot</label>
                  <input type="text" class="form-control" [(ngModel)]="event.slot" name="slot" value=""[pattern]="slotPattern"
                  #slot="ngModel"
                    placeholder="slot" id="" autocomplete="off">
                    <div *ngIf="slot.errors?.pattern" style="color:red;font-size: 1.1em;">
                      *Invalid slot.
                    </div>
                    <p class="validation">{{ valid['slot'] }}</p>
                </div>
                <div class="form-group form-primary ">
                  <label>Location</label>
                  <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" [(ngModel)]="event.location" name="first_name" value=""
                    placeholder="location" id="location" autocomplete="off"  autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                    <p class="validation">{{ valid['location'] }}</p>
                </div>

                <div style="color: white; display: none;">
                  <div>Latitude: {{latitude}}</div>
                  <div>Longitude: {{longitude}}</div>
                </div>

                <div class="form-group form-primary ">
                  <label>Description</label>
                  <input type="text" class="form-control" name="description" value="" placeholder="Description"
                    id="" [(ngModel)]="event.description" autocomplete="off">
                    <p class="validation">{{ valid['description'] }}</p>
                </div>

                <div class="form-group form-primary ">
                  <label>Contact Number</label>
                  <input type="text" class="form-control" name="contact" value="" placeholder="Contact number" id=""
                    [(ngModel)]="event.contact" autocomplete="off" [pattern]="contactPattern" #contact="ngModel">
                    <div *ngIf="contact.errors?.pattern" style="color:red;font-size: 1.1em;">
                      *Invalid contact number.
                    </div>
                    <p class="validation">{{ valid['contact'] }}</p>
                </div>

                <div class="form-group form-primary ">
                  <label>Email</label>
                  <input type="email" class="form-control" name="email" value="" placeholder="Email" id=""
                    [(ngModel)]="event.email" autocomplete="off" [pattern]="emailPattern" #email="ngModel">
                    <div *ngIf="email.errors?.pattern" style="color:red;font-size: 1.1em;">
                      *Invalid email.
                    </div>
                    <p class="validation">{{ valid['email'] }}</p>
                </div>

                <div class="form-group form-primary ">
                  <label>Whatsapp Number (+60XX-XXXXXXXX)</label>
                  <input type="text" class="form-control" name="whatsapp" value="" placeholder="whatsapp" id=""
                    [(ngModel)]="event.whatsapp" autocomplete="off" [pattern]="whatsappPattern" #whatsapp="ngModel">
                    <div *ngIf="whatsapp.errors?.pattern" style="color:red;font-size: 1.1em;">
                      *Invalid whatsapp number.
                    </div>
                    <p class="validation">{{ valid['whatsapp'] }}</p>
                </div>

                <div class="form-group form-primary ">
                  <label>Terms and Conditions</label>
                  <textarea id="productdesc" rows="5" style="height: 14px;" name="termsandcondition" id="description"
                    value="" [(ngModel)]="event.termsandcondition" class="form-control" autocomplete="off"></textarea>
                    <p class="validation">{{ valid['termsandcondition'] }}</p>
                </div>

                <div class="row" >
                  <div class="col-md-12">
                    <a routerLink="/eventlist"
                     class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 mt-5"  data-bs-toggle="modal" data-bs-target="#taskmodal2" name="submit" value="Save" id="save"
                     (click)='sendData()' style="text-decoration-line:none">Save
                    </a>
                  </div>
                </div>

                <br><br>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>












</body>

</html>