<?xml version='1.0' encoding='utf-8'?>
<widget id="com.domain.Merchant" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Loyalty Merchant</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="market:*" />

    <preference name="MixedContentMode" value="0" />
    <preference name="Scheme" value="http" />
    
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <config-file parent="/*" target="AndroidManifest.xml">
           <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <uses-permission android:name="android.hardware.camera.front" />
            <uses-permission android:name="android.hardware.camera.flash" />
            <uses-permission android:name="android.hardware.camera" />
            <uses-permission android:name="android.hardware.camera.autofocus" />
        </config-file>
        <plugin name="BarcodeScanner" value="com.phonegap.plugins.barcodescanner.BarcodeScanner"></plugin>
    </platform>

</widget>
