<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<div class="row" >
    <div class="col-auto pr-0">
        <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
            <i class="bi bi-arrow-left"></i>
        </a>
    </div>
    <div class="col text-center align-self-center px-0">
        <h2 style="color: #dec074; padding-top: 10px;">Booking Event</h2>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/home" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;" >
            <i class="bi bi-house"></i>
        </a>
        <a routerLink="/profile" class="btn btn-link" style="background-color: transparent;outline: none;border: none;color: #dec074;">
            <i class="bi bi-person"></i>
        </a>
    </div>
  </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

<body>
    <a routerLink="/invoice" class="float">
        <i class="fa fa-plus my-float"></i>
    </a>

    <div class="searchbar mb-3">
        <form role="search" id="form">
            <input type="search" id="query" name="searchInput" [(ngModel)]="searchInput" placeholder="Search the booking"
            autocomplete="off" aria-label="Search through site content" style="all: unset;
            font: 16px system-ui;
            color: #fff;
            height: 100%;
            width: 100%;
            padding: 6px 10px;">
      
      <button style="background-color: transparent;outline: none;border: none;">
        <svg viewBox="0 0 1024 1024">
          <path class="path1"
            d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
          </path>
        </svg>
      </button>
        </form>
      </div>

    <div class="row">
        <div class="row" style="width: 100%; margin: 0;margin-top: 5px;">
            <div class="col-12 mb-3 px-0">
                <mat-tab-group mat-align-tabs="start">

                    <mat-tab label="Ongoing">

                        <article>

                            <ng-container *ngFor="let todayevent of todayeventArr | searchEvent : searchInput ">
                                <div class="col-12">
                                    <div class="card mb-4"
                                    style="background-color: transparent;box-shadow: 0 4px 8px 0 rgba(222,192,116,0.5);">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"
                                            style="padding: 0px; padding-right: 15px; background-color: transparent;">
                                            <div class="row">
                                                    <div class="col-auto align-self-center" style="padding-right: 10px;">
                                                        <img src="data:{{ todayevent['thumbnailType']}};base64,{{ todayevent['thumbnail'] }}"
                                                        style="width: 15vh; height: 15vh;">
                                                        <button class="btn btn-link caret-none dropdown-toggle px-0"
                                                            type="button" id="moredd1" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v"
                                                                style="font-size:24px;padding-right: 5px;"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="moredd1">
                                                            <li><a class="dropdown-item"
                                                                    (click)=detail(todayevent)>Detail</a></li>
                                                            <li><a class="dropdown-item"
                                                                    (click)=edit(todayevent)>Edit</a></li>
                                                            <li><a class="dropdown-item " data-bs-toggle="modal"
                                                                    data-bs-target="#taskmodal"
                                                                    name="{{todayevent['_id']}}"
                                                                    id="deletebtn_{{todayevent['_id']}}"
                                                                    (click)="Transfer(todayevent['_id'])">Delete</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col px-0 align-self-center" style="color: #dec074;">
                                                        <p style="font-size: 18px;padding-top: 15px;">
                                                            {{todayevent['eventname']}}<br>
                                                            <small style="color: white;">{{todayevent['eventhost']}} |
                                                                {{todayevent['contact']}}</small><br>

                                                            <small style="color: white;"> {{todayevent['sdate']}} -
                                                                {{todayevent['edate']}}</small><br>
                                                            <small style="color: white;">
                                                                {{todayevent['stime']}}-{{todayevent['etime']}}</small><br>
                                                            <small
                                                                style="color: #dec074; float:right;padding-right: 5px;">Fee
                                                                : RM
                                                                {{todayevent['amount']}}</small>
                                                        </p>
                                                    </div><br>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-container>
                        </article>
                    </mat-tab>


                    <mat-tab label="Upcoming">
                        <article>
                            <ng-container *ngFor="let upevent of upeventArr | searchEvent : searchInput ">
                                <div class="col-12">
                                    <div class="card mb-4"
                                    style="background-color: transparent;box-shadow: 0 4px 8px 0 rgba(222,192,116,0.5);">
                                        <ul class="list-group list-group-flush" >
                                            <li class="list-group-item"
                                            style="padding: 0px; padding-right: 15px; background-color: transparent;">
                                            <div class="row">
                                                <div class="col-auto align-self-center" style="padding-right: 10px;">
                                                    <img src="data:{{ upevent['thumbnailType']}};base64,{{ upevent['thumbnail'] }}"
                                                    style="width: 15vh; height: 15vh;">

                                                        <button class="btn btn-link caret-none dropdown-toggle px-0"
                                                            type="button" id="moredd1" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v" style="font-size:24px;padding-right: 5px;color:#dec074;"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="moredd1">
                                                            <li><a class="dropdown-item"
                                                                    (click)=detail(upevent)>Detail</a></li>
                                                            <li><a class="dropdown-item" (click)=edit(upevent)>Edit</a>
                                                            </li>
                                                            <li><a class="dropdown-item " data-bs-toggle="modal"
                                                                    data-bs-target="#taskmodal"
                                                                    name="{{upevent['_id']}}"
                                                                    id="deletebtn_{{upevent['_id']}}"
                                                                    (click)="Transfer(upevent['_id'])">Delete</a></li>
                                                        </ul>

                                                    </div>
                                                    <div class="col px-0 align-self-center" style="color: #dec074;">
                                                        <p style="font-size: 18px;padding-top: 15px;"> {{upevent['eventname']}}<br>
                                                            <small style="color: white;">{{upevent['eventhost']}} |
                                                                {{upevent['contact']}}</small><br>
                                                            <small style="color: white;">{{upevent['sdate']}} |
                                                                {{upevent['edate']}}</small><br>
                                                            <small style="color: white;">
                                                                {{upevent['stime']}}-{{upevent['etime']}}</small><br>
                                                            <small style="color: #dec074; float:right;padding-right: 5px;">Fee : RM
                                                                {{upevent['amount']}}</small>
                                                        </p>
                                                    </div><br>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </ng-container>
                        </article>


                    </mat-tab>

                    <mat-tab label="History">



                        <article>


                            <ng-container *ngFor="let hisevent of hiseventArr | searchEvent : searchInput ">
                                <div class="col-12">
                                    <div class="card mb-4"
                                    style="background-color: transparent;box-shadow: 0 4px 8px 0 rgba(222,192,116,0.5);">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"
                                            style="padding: 0px; padding-right: 15px; background-color: transparent;">
                                            <div class="row">
                                                <div class="col-auto align-self-center" style="padding-right: 10px;">
                                                    <img src="data:{{ hisevent['thumbnailType']}};base64,{{ hisevent['thumbnail'] }}"
                                                    style="width: 15vh; height: 15vh;">
                                            
                                                        <button class="btn btn-link caret-none dropdown-toggle px-0"
                                                            type="button" id="moredd1" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v" style="font-size:24px;padding-right: 5px;"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="moredd1">
                                                            <li><a class="dropdown-item"
                                                                    (click)=detail(hisevent)>Detail</a></li>
                                                            <li><a class="dropdown-item" (click)=edit(hisevent)>Edit</a>
                                                            </li>
                                                            <li><a class="dropdown-item " data-bs-toggle="modal"
                                                                    data-bs-target="#taskmodal"
                                                                    name="{{hisevent['_id']}}"
                                                                    id="deletebtn_{{hisevent['_id']}}"
                                                                    (click)="Transfer(hisevent['_id'])">Delete</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col px-0 align-self-center" style="color: #dec074;">
                                                        <p style="font-size: 18px;padding-top: 15px;"> {{hisevent['eventname']}}<br>
                                                            <small style="color: white;">{{hisevent['eventhost']}} |
                                                                {{hisevent['contact']}}</small><br>
                                                            <small style="color: white;">
                                                                {{hisevent['stime']}}-{{hisevent['etime']}}</small><br>
                                                            <small style="color: white;"> {{hisevent['sdate']}} -
                                                                {{hisevent['edate']}}</small>
                                                            <small style="color: #dec074; float:right;padding-right: 5px;">Fee : RM
                                                                {{hisevent['amount']}}</small>
                                                        </p>
                                                    </div><br>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </ng-container>
                        </article>

                    </mat-tab>

                </mat-tab-group>
            </div>

        </div>
    </div>


    <a name="{{month['id']}}" id="deletebtn_{{month['id']}}" (click)="add(month['id'])" class="float">
        <i class="fa fa-plus my-float"></i>
    </a>

    <div class="modal fade" id="taskmodal" tabindex="-1" aria-labelledby="taskmodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content  border-0">
                <div class="modal-body">profile
                    <h2>Are you sure want to delete?</h2>
                    <input type="text" value="" [(ngModel)]="event.eventname" id="event_name" hidden>
                </div>
                <div class="modal-footer justify-content-center">
                    <a routerlink="/eventlist" type="button" class="btn btn-primary " data-bs-dismiss="modal" id="yes" (click)="goto()" >Yes</a>
                    <a routerlink="/eventlist" type="button" class="btn btn-primary" data-bs-dismiss="modal" id="no" >No</a>

                </div>
            </div>
        </div>
    </div>

</body>
</html>