.image-box__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  svg {
    color: black;
    fill: currentColor;
    width: 25px;
    height: 25px;
    float:right;
    
    }
  
  .search
    {    
      box-sizing: border-box;
    }
    form 
    {
      background-color: #2c2c2c;
      width: 100%;
      height: 44px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding:15px;
    }
    .searchbar{
      padding-left:12px;
      padding-right:12px;
      }
  
    .input-container {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      width: 100%; 
      border-radius:20px;
      border: none;
      font-size: 25px;
      background-color: #2c2c2c;
      margin-bottom: 5px;
      padding: 5px;    
    }
    
    .icon {
      padding: 5px;
      color: rgb(175, 168, 168);
      min-width: 50px;
      text-align: center;
      font-size: 20px;    
      
    }
    
    .input-field {
      width: 100%;
      outline: none;
      border: none;
      background: transparent;
      color: white;
    }
  
    .input-field::placeholder
    {
      color: rgb(175, 168, 168);
    }

    ::placeholder {
      color: #fff;
      opacity: 0.7; 
    }
  
    input[type = "text"]
    {
        font-size: 18px;
        font-weight: bold;
    }
  
    .cbtn {
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      border-radius: 20px;
      color: white;
      font-size: 15px;
      width: 15vh;
      padding: 10px;
    }

    .cbtn:hover {
     background-color: #dec074;
     color: black;
    }

    .card-body
    {
      height: 100px;
    }

*{
    color:#dec074;
    margin-left:0;
    
  }

  .main-background{
    background-color: black;
  }
 
 .topnav {
   position: relative;
   overflow: hidden;
  
 }
 
 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 .topnav a.active {
 
   color: gold;
 }
 
 .topnav-centered a {
   float: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 
 .topnav-right {
   float: right;
 }
 
 .table-responsive{
   text-align:center;
   display:block;
   
 }
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: black;
    font-weight: 300;
    overflow:hidden;
}

 .float{
	position:fixed;
	width:60px;
	height:60px;
	top:500px;
    right:40px;
	
	
	border-radius:50px;
	text-align:center;

	font-size:20px;
	background-color:goldenrod;
  
  

}
.float i{
  color:black;
  
}
.my-float{
	margin-top:20px;
}

.small{
  
  text-align:center;
  color:grey;
}
.small small{
  color:grey;
}
small span{
  color:grey;
  float:left;
}

.title{
    margin-left:20px;
    margin-top:10px;
}



.list-group {
    width: 400px !important
}

.list-group-item {
    margin-top: 10px;
    border-radius: none;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}



.check {
    opacity: 0;
    transition: all 0.6s ease-in-out
}

.list-group-item:hover .check {
    opacity: 1
}

.about span {
    font-size: 12px;
    margin-right: 10px;
   
}


input[type=checkbox] {
    position: relative;
    cursor: pointer
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0;
    border: 1px solid #10a3f9;
    border-radius: 3px;
    background-color: white
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 7px;
    height: 12px;
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px
}

input[type="checkbox"]:checked+.check {
    opacity: 1
}

.badge{
    color:black;
    background-color:transparent;

}
 .mb-0 strong{
    color:grey;
    
}
span small{
    color:grey;
}
.flex-row img{
    margin-right: 20px;
}
footer{
  background-color:black;
}
#moredd1{
  position:absolute;
  right:12px;
}


.dropdown-toggle::after{
  display:none;
}
.fa-ellipsis-v{
 color:grey;
}
.dropdown-menu{
  background-color:black;
  color:#dec074
}
.dropdown-item{
  color:#dec074;
}
.modal-content{
  background-color: rgb(36, 35, 35);
}
.modal-footer{
  color:none;
}

.row{
  --bs-gutter-x: 0rem;
}

.h6 {
  font-size: 16px;
}

#yes{
  width:35%;
  background-color:#dec074;
  border:none;
  color:black;
  font-size:20px;
 
}

#no{
width:35%;
background-color:#dec074;
border:none;
color:black;
font-size:20px;

}